<!-- <div class="position-texte"> -->
<div class="texte">
    <p class="overlay">{{translation.translate("SAE303-PRESENTATION1")}} <br> <br>{{translation.translate("SAE303-PRESENTATION2")}}<br><br> {{translation.translate("SAE303-ARCHI")}}</p>

    <img class="image-archie" [src]="archisae303" (click)="enlargeImage()">
    <br><br>
    <p class="overlay">{{translation.translate("SAE303-MATOS-LISTE")}} </p>

    <div id="liste" class="overlay">
        <li>{{translation.translate("SAE303-MATOS1")}} </li>
        <li>{{translation.translate("SAE303-MATOS2")}} </li>
        <li>{{translation.translate("SAE303-MATOS3")}}</li>
        <li>{{translation.translate("SAE303-MATOS4")}}</li>
        <li>{{translation.translate("SAE303-MATOS5")}} </li>
        <li>{{translation.translate("SAE303-MATOS6")}} </li>
        <li>{{translation.translate("SAE303-MATOS7")}} </li>
    </div>
    <p class="overlay">{{translation.translate("SAE303-VIDEO")}}</p><br>

    <video class="video_sae_303" disablePictureInPicture controls controlsList="nodownload">
        <source [src]="video_sae_303" type="video/mp4" />
        Your browser does not support the video tag
    </video> <br><br>

    <p class="overlay">{{translation.translate("SAE303-ORGA1")}}<br><br> {{translation.translate("SAE303-ORGA2")}} </p>

    <p class="overlay">{{translation.translate("SAE303-PLAN-IP")}}<a target="_blank" [href]="adressage_ip">adressage_ip.pdf</a>
    </p>

    <p class="overlay">{{translation.translate("SAE303-PHASEDEP")}} <br>
        {{translation.translate("SAE303-MATACHE")}} </p>
    <div id="liste" class="overlay">
        <li> {{translation.translate("SAE303-TACHE1")}}</li>
        <li>{{translation.translate("SAE303-TACHE2")}}</li>
    </div>
    <p class="overlay">{{translation.translate("SAE303-PASPRBLM")}}
    </p>
    <div id="liste" class="overlay">
        <li>Active Directory</li>
        <li>DNS</li>
        <li>Terminal Server</li>
        <li>{{translation.translate("SAE303-SERVICE4")}}</li>
        <li>Nextcloud</li>
        <li>RADIUS</li>
    </div>
    <p class="overlay">{{translation.translate("SAE303-MISEPLACE1")}}<br><br><br>{{translation.translate("SAE303-MISEPLACE2")}} </p>

    <div id="liste" class="overlay">
        <li>{{translation.translate("SAE303-SOL1")}}</li>
        <li>DHCP</li>
    </div>

    <p class="overlay">{{translation.translate("SAE303-ROAS")}}</p>

    <img class="image-roas" [src]="roas" (click)="enlargeImage2()">

    <br>
    <p class="overlay">{{translation.translate("SAE303-DHCP1")}}. <br><br>{{translation.translate("SAE303-DHCP2")}} <br><br> {{translation.translate("SAE303-RESULTSCAN")}} <a target="_blank"
            [href]="scan_reseau">scan_reseaux.pdf</a>
    </p>


    <div style="text-align: center; font-weight: bold;">{{translation.translate("SAE303-TITRE-RETEX")}}</div> <br>

    <div class="overlay">
        <li>{{translation.translate("SAE303-RETEX1")}}</li>
        <br>
        <li>{{translation.translate("SAE303-RETEX2")}}</li> <br>
        <li>{{translation.translate("SAE303-RETEX3")}}</li> <br>
        <li>{{translation.translate("SAE303-RETEX4")}} </li>
        <br>
        <li>{{translation.translate("SAE303-RETEX5")}} </li> <br>
        <li>{{translation.translate("SAE303-RETEX6")}}</li>
    </div>
    <p class="overlay">{{translation.translate("SAE303-LIEN-GITHUB")}}<a target="_blank" [href]="cr_sae_303">cr_sae_303.pdf</a>
    </p>
</div>
<!-- </div> -->

<div class="overlay-image-agrandie" *ngIf="isImageEnlarged2" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="roas">
</div>

<div class="overlay-image-agrandie" *ngIf="isImageEnlarged" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="archisae303">
</div>