::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, Helvetica, sans-serif;

    /* height: 60dvh; */
    background-repeat: no-repeat;


}

.grid {
    text-align: center;
    font-weight: bolder;
    margin-top: 5vh;
}

.letter-anim,
.letter-anim span {
    display: inline-block;
}

.grid span {
    cursor: pointer;
    position: relative;
    font-size: 125px;
    perspective: 550px;

}

.letter-anim span::before,
.letter-anim span::after {
    position: absolute;
    content: attr(data-letter);
    inset: 0;
    transform-origin: left;
}

.letter-anim span::before {
    transition: transform 0.4s ease-out;
    color: rgba(0, 0, 0, 0.122);
}

.letter-anim span::after {
    color: rgb(96, 96, 244);
    transition:
        transform 0.4s ease-out,
        color 0.4s ease-out;
    transform: rotateY(-30deg);
}

.letter-anim:hover span::after {
    transform: rotateY(-40deg);
}

.letter-anim:hover span::before {
    transform: scaleX(0.85) skewY(20deg);
}

.letter-anim:nth-child(1):hover span::after {
    color: red;
}

.letter-anim:nth-child(2):hover span::after {
    color: orange;
}

.letter-anim:nth-child(3):hover span::after {
    color: yellow;
}

.letter-anim:nth-child(4):hover span::after {
    color: rgb(163, 194, 42);
}

.letter-anim:nth-child(5):hover span::after {
    color: #30dc0e;
}

.letter-anim:nth-child(6):hover span::after {
    color: blue;
}

.letter-anim:nth-child(8):hover span::after {
    color: indigo;
}

.letter-anim:nth-child(9):hover span::after {
    color: blueviolet;
}

.letter-anim:nth-child(10):hover span::after {
    color: violet;
}

.letter-anim:nth-child(1) {
    animation: grow 0.1s forwards 0.1s;
    /* Add delay to start animation */
}

.letter-anim:nth-child(2) {
    animation: grow 0.1s forwards 0.3s;
    /* Add delay to start animation */
}

.letter-anim:nth-child(3) {
    animation: grow 0.1s forwards 0.5s;
    /* Add delay to start animation */
}

.letter-anim:nth-child(4) {
    animation: grow 0.1s forwards 0.7s;
    /* Add delay to start animation */
}

.letter-anim:nth-child(5) {
    animation: grow 0.1s forwards 0.9s;
    /* Add delay to start animation */
}

.letter-anim:nth-child(6) {
    animation: grow 0.1s forwards 1.1s;
    /* Add delay to start animation */

}

.letter-anim:nth-child(8) {
    animation: grow 0.1s forwards 1.3s;
    /* Add delay to start animation */
}

.letter-anim:nth-child(9) {
    animation: grow 0.1s forwards 1.5s;
    /* Add delay to start animation */
}

.letter-anim:nth-child(10) {
    animation: grow 0.1s forwards 1.7s;
    /* Add delay to start animation */
}

@keyframes grow {
    0% {
        transform: scale(8) rotate(0deg);
        opacity: 0;
        /* Initially hidden */
    }

    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
        /* Fully visible */
    }
}

.spacer {
    display: inline-block;
    width: 50px;
    padding: 1vh;
    /* Adjust width as needed */
}


.rouagegauche {
    width: 30%;

}

.texte {
    font-size: 2.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 5vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;

}

.mat-stroked-button {

    background-color: white;
}



.container2 {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    margin-bottom: 1vh;
    justify-content: space-around;

}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.mat-stroked-button {
    padding: 10px 20px;
    font-size: 16px;
}

/* .droite,
.gauche {
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 0%;
    border-color: white;

}

.bouton {
    display: flex;
    justify-content: center;

    height: 50%;
} */
.container {
    width: 550px;
    height: 70px;
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    margin-top: 10vw;
    cursor: pointer;
}

.id {
    background: white;
    width: 12.5%;
    height: 100%;
    border: 1px solid rgb(167, 167, 167);
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: rgb (157, 157, 157);
}

#link {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 15vh; */
}


.container:hover span:nth-child(odd) {
    transform: skewY(-15deg);
    box-shadow: 0px 60px 20px rgba(0, 0, 0, 0.1);
}

.container:hover span:nth-child(even) {
    transform: skewY(15deg);
    box-shadow: 0px 60px 20px rgba(0, 0, 0, 0.1);
}

.contenu {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */

    align-items: center;
    justify-content: center;
    justify-items: center;
}

.bouton-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}