<html>
<div class="main">
    <video disablePictureInPicture playsinline autoplay muted loop>
        <source [src]="bgImgUrl" type="video/mp4">
        Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

    <div class="overlay">
        <h1>Présentation du Conseil Départemental de l'Ain</h1>
    </div>

    <div class="overlay2">
        <a href="/entreprise#presentation" class="btn btn-default">&#9207;</a>
    </div>

</div>

<div id="presentation"></div>
<p class="ue"> Je suis en alternance et je vais présenter dans cet onglet le Conseil Départemental de
    l'Ain, où
    j'effectue actuellement mon alternance au sein de la Direction de la Transition et des Solutions Numériques (DTSN).
</p>

<h6 style="text-align: center;">Historique</h6>

<p class="ue">
    Le département de l'Ain a été institué le 4 mars 1790. Aujourd'hui, à la suite des lois de décentralisation de 1984,
    le Conseil Départemental de l'Ain forme une collectivité territoriale et &oelig;uvre sur l'ensemble du département
    de
    l'Ain. Ses principaux domaines de compétences sont la gestion des collèges, des routes, des EHPAD.
    Le 11 octobre 2024, le Département de l'Ain à été
    élu &laquo; Département préféré des Fran&ccedil;ais &raquo;.

    Le site principal du Conseil Départemental de l'Ain se situe au chef-lieu du Département de l'Ain, à Bourg en
    Bresse. </p> <br>

<img class="carteain" [src]="carteain" [alt]="altain">
<p class="soustitre">Localisation du Département de l'Ain</p>
<br><br>

<h6 style="text-align: center;">Identité</h6>

<p class="ue">Le Conseil Départemental de l'Ain est identifié graphiquement par plusieurs éléments : </p>

<ul>
    <li>Sa marque</li>
    <li>Son logo</li>
    <li>Son drapeau</li>
</ul>


<h6 style="text-align: center;">La marque</h6><br><br>

<p class="ue">Le Conseil Départemental à crée une marque dont le but est d’accompagner une grande partie de la
    communication et de rassembler les habitants de l’Ain. <br><br> La marque est la suivante : </p>

<img class="marque" [src]="marque" [alt]="altmarque">
<br><br>
<h6 style="text-align: center;">Le logo</h6>

<p class="ue">Ce logo, qui est d’actualité depuis février 2018, est le même graphiquement que celui présenté en mai
    2015. Les couleurs ont cependant évolué. En effet, seul le bleu est présent et cette couleur se veut comme le
    symbole de la vérité et de la sécurité. De couleur unie, celui-ci veut illustrer la sobriété et le raffinement. Ce
    logo veut également témoigner de l’unité du territoire et sa couleur unie peut être plus facilement associée à
    d’autres couleurs.</p> <br>

<img class="logoain" [src]="bgImgUrl2">

<br><br>

<h6 style="text-align: center;">Présentation des services</h6>
<br>

<p class="ue">Le Conseil Départemental de l'Ain est présidé par M. Jean Deguerry. Le président délègue une partie de ces
    fonctions à 11 vice-présidents et à 2 conseillers délégués. Pour en savoir plus, cliquez sur <a target="_blank"
        style="text-decoration: underline;"
        href="https://www.ain.fr/conseil-departemental/executif-departemental-ain-2021/">ce lien</a></p>
<!-- <p class="ue">Le Département de l'Ain est composé de 6 Direction
    Générale Adjointe : </p> ( <b>a changer/vérifier</b> )


<ul>
    <li>Direction Générale Adjointe à la Modernisation</li>
    <li>Direction Générale Adjointe à la Conformité</li>
    <li>Direction Générale Ajoindre à la Finance et territoires</li>
    <li>Dircetion Générale Adjointe à la Solidatiré</li>
    <li>Direction Générale Adjointe à la Transition écologique</li>
    <li>Direction Générale Adjointe à l'Education, la jeunesse, aux sports et à la culture</li>
</ul>


<p class="ue">
    Chaque DGA est composée de plusieurs Directions. La Direction Générale Adjointe à la Modernisation est composée
    comme suit :
</p>

<ul>
    <li>Direction de la Transition et des Solutions Numériques</li>
    <li>Direction des Ressources Humaines</li>
</ul>



<div class="photo">
    <img matTooltip="Logo de l'Ain" class="logoain" [src]="bgImgUrl2" alt="logo de l'Ain">
</div> -->

</html>