.main {
    width: 90vw;
    height: 90dvh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.text-overlay {
    position: absolute;
    z-index: 2;
    /* Assure que l'overlay est au-dessus de la vidéo */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        color: white;
        font-size: 4em;
        text-align: center;
        padding: 0 20px;
    }
}

.link-overlay {
    position: absolute;
    z-index: 3;
    /* Assure que l'overlay est au-dessus de la vidéo */
    /* min-height: 100vh; */
    width: 10%;
    height: 10%;
    margin-left: 41vw;
    margin-top: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
    a {
        color: white;

        font-size: 3em;
        animation: fadeBlink 3s infinite;
        font-family: Arial, Helvetica, sans-serif;

        text-align: center;

    }
}

@keyframes fadeBlink {

    0%,
    100% {
        opacity: 1;
        /* Fully visible for the first half */
    }

    50% {
        opacity: 0;
        /* Gradually fades out in the second half */
    }


}

video {
    position: absolute;

    width: 90vw;
    height: 90dvh;
    object-fit: cover;
    z-index: 1;
}