<div class="texte">

    <p>{{translation.translate("SAE502-PRESENTATION")}}
        <br><br>{{translation.translate("SAE502-OBJECTIF")}} <br><br>{{translation.translate("SAE502-REALISE")}}
        <br><br> {{translation.translate("SAE502-ORGA")}}<br>

        <img [src]="trello" [alt]="trelloalt" (click)="enlargeImage3()">



    </p>
    <h4>{{translation.translate("SAE502-PHASE-CONC")}}</h4>

    <p>{{translation.translate("SAE502-PRESE-PHASE-CONC")}}

        <li>{{translation.translate("SAE502-TACHE1")}}</li>
        <li>{{translation.translate("SAE502-TACHE2")}}</li>
        <li>{{translation.translate("SAE502-TACHE3")}}</li>
        <li>{{translation.translate("SAE502-TACHE4")}}</li>
        <li>{{translation.translate("SAE502-TACHE5")}}</li>
        <li>{{translation.translate("SAE502-TACHE6")}}</li>
        <li>{{translation.translate("SAE502-TACHE7")}}</li>

        <br>
        {{translation.translate("SAE502-PRES-CDC")}} <br> <br>
        {{translation.translate("SAE502-LIEN-CDC")}} <a target="_blank" [href]="cdc" style="color: blue;">Cahier des
            charges</a> <br><br>

        {{translation.translate("SAE502-INFRA")}}
        <br>
        <li> {{translation.translate("SAE502-SERVICE1")}} </li>
        <li> {{translation.translate("SAE502-SERVICE2")}} </li>
        <li> {{translation.translate("SAE502-SERVICE3")}} </li>
        <li> {{translation.translate("SAE502-SERVICE4")}} </li>
        <li> {{translation.translate("SAE502-SERVICE5")}} </li>
        <li> {{translation.translate("SAE502-SERVICE6")}} </li>
        <li> {{translation.translate("SAE502-SERVICE7")}} </li>
        <li> {{translation.translate("SAE502-SERVICE8")}} </li>
        <li> {{translation.translate("SAE502-SERVICE9")}} </li>
        <li> {{translation.translate("SAE502-SERVICE10")}} </li>
        <li> {{translation.translate("SAE502-SERVICE11")}} </li>
        <li> {{translation.translate("SAE502-SERVICE12")}} </li>
        <li> {{translation.translate("SAE502-SERVICE13")}} </li>
        <br>
    <div style="text-align: left; margin-left: 1vw;">{{translation.translate("SAE502-NEW-ARCHI")}}</div>
    <p>
        <img [src]="infra" [alt]="altinfra" (click)="enlargeImage()"> <br>
        {{translation.translate("SAE502-NEW-NEW-ARCHI")}}
        <br>
        <img [src]="infrav2" [alt]="altinfrav2" (click)="enlargeImage2()">
    </p>
    <h4> {{translation.translate("SAE502-PHASEDEP")}}</h4>
    <p>{{translation.translate("SAE502-MATACHE")}}
        <li>{{translation.translate("SAE502-TACHE1-DEP")}}</li>
        <li>{{translation.translate("SAE502-TACHE2-DEP")}}</li>
        <li>{{translation.translate("SAE502-TACHE3-DEP")}}</li>
        <li>{{translation.translate("SAE502-TACHE4-DEP")}}</li>
        <li>{{translation.translate("SAE502-TACHE5-DEP")}}</li>
        <li>{{translation.translate("SAE502-TACHE6-DEP")}}</li>
        <br>
        {{translation.translate("SAE502-PRBLM-PHASEDEP")}} <br><br>
        {{translation.translate("SAE502-INSTA")}}
    </p>
    <h4>{{translation.translate("SAE502-PHASETEST")}}</h4>
    <p> {{translation.translate("SAE502-DESCR-PHASETEST")}} </p>
    <h4>{{translation.translate("SAE502-TITRE-RETEX")}}</h4>
    <li>{{translation.translate("SAE502-RETEX1")}}</li>
    <li>{{translation.translate("SAE502-RETEX2")}}</li>
    <li>{{translation.translate("SAE502-RETEX3")}}
    </li>

</div>
<div class="overlay" *ngIf="isImageEnlarged" (click)="closeEnlargedImage()">
    <img class="bigphoto" [src]="infra">
</div>
<div class="overlay" *ngIf="isImageEnlarged2" (click)="closeEnlargedImage()">
    <img class="bigphoto" [src]="infrav2">
</div>
<div class="overlay" *ngIf="isImageEnlarged3" (click)="closeEnlargedImage()">
    <img class="bigphoto" [src]="trello">
</div>