<div class="container-main">
    <div class="left-container">
        <img [src]="github" alt="">
        <div class="text-overlay">GitHub est une plateforme de gestion de code et de collaboration largement utilisée
            par les développeurs et les équipes pour héberger, versionner et partager leurs projets. Elle permet le
            dépôt et le stockage de projets sous forme de repositories (ou répertoires), facilitant ainsi la gestion des
            versions et la collaboration sur le code source.

            Principalement utilisée pour le développement d'applications et de logiciels, GitHub prend en charge le
            système de contrôle de version Git, qui permet de suivre l'historique des modifications apportées au code.

            Parmi ses fonctionnalités clés :
            <ul>
                <li>Collaboration : Possibilité de travailler à plusieurs sur un même projet via les pull requests et
                    les
                    branches. </li>
                <li>Suivi des modifications : Chaque changement est historisé, permettant de revenir à des versions
                    antérieures
                    du projet. </li>
                <li>Gestion des projets : Outils intégrés comme les issues, projets et wikis pour organiser le travail
                    et
                    suivre
                    l'avancement. </li>
                <li>Open-source et privé : GitHub héberge aussi bien des projets open-source que des projets privés.
                </li>
            </ul>

            Vous trouverez dans le lien suivant mes différents répertoires où sont exposés les différents projets que
            j'ai réalisés au BUT Réseaux et Télécommunications de Montbéliard.
            <br><br>
            <button>Retrouvez mes projets sur GitHub</button>
        </div>
    </div>
    <div class="right-container">
        <img [src]="linkedin" style="margin-top: 2dvh;"> <br><br>
        <div class="text-overlay">
            LinkedIn est un réseau social professionnel largement utilisé dans le monde entier, conçu pour favoriser le
            développement de relations professionnelles, le partage d'expertises et la mise en valeur des compétences.

            Cette plateforme permet aux individus de créer un profil détaillé mettant en avant leur parcours académique,
            leurs expériences professionnelles, leurs compétences et leurs réalisations. Les membres peuvent élargir
            leur réseau en se connectant avec des collègues, des recruteurs, des partenaires commerciaux et des experts
            de divers secteurs d'activité.

            LinkedIn est également un outil puissant pour :

            <ul>
                <li> Rechercher des opportunités d'emploi : Offres publiées par des entreprises et recrutement direct via la
                    plateforme. </li>
                <li>Développer une image de marque personnelle : Publication d'articles, partage de projets et
                    interactions avec
                    des publications d'autres professionnels.</li>
                <li>Apprendre et se former : Grâce à LinkedIn Learning, la plateforme propose des cours en ligne pour
                    renforcer
                    ses compétences. </li>
                <li>Collaborer et échanger : Participation à des groupes de discussion et forums thématiques. </li>

            </ul>
            Vous y trouverez dans le lien suivant mon profil LinkedIn : 

            <a target="_blank" href="https://www.linkedin.com/in/etienne-paquelet/"><button>Retrouvez mon profil sur LinkedIn</button></a>
        </div>

    </div>
</div>