<app-video class="main" [bgImgUrl]="bgImgUrl" [titre]="translation.translate('RS-TITRE')" lienFleche="./liens-divers#presentation"></app-video>

<h1 id="phoneusing" class="phonetitle">{{translation.translate("RS-TITRE")}}</h1>
<div id="phoneusing" class="phonebar"></div>


<div id="presentation" class="container-main">
    <div class="container">
        <img [src]="github" alt="Logo GitHub">
        <div class="text-overlay">
            <p> {{translation.translate("RS-GITHUB-TEXTE")}} <br><br>{{translation.translate("RS-GITHUB-FIRST-TEXTE")}}
                <br><br> {{translation.translate("RS-GITHUB-SECOND-TEXTE")}} </p>
            <ul>
                <li>
                    <p>{{translation.translate("RS-GITHUB-COLLAB")}} </p>
                </li>
                <li>
                    <p>{{translation.translate("RS-GITHUB-SUIVI")}}</p>
                </li>
                <li>
                    <p>{{translation.translate("RS-GITHUB-GESTION")}} </p>
                </li>
                <li>
                    <p>{{translation.translate("RS-GITHUB-OPEN-SOURCE")}}
                    </p>
                </li>
            </ul>
            <p>{{translation.translate("RS-GITHUB-LAST-TEXTE")}} </p>
        </div>
        <a target="_blank" href="https://github.com/e-paquelet">
            <button>{{translation.translate("RS-GITHUB-BUTTON")}} </button>
        </a>
    </div>
    <div class="container">
        <img [src]="linkedin" alt="Logo LinkedIn">
        <div class="text-overlay">
            <p><br>{{translation.translate("RS-LINKEDIN-TEXTE")}} <br><br>
                {{translation.translate("RS-LINKEDIN-FIRST-TEXTE")}}
                <br><br>{{translation.translate("RS-LINKEDIN-SECOND-TEXTE")}}
            </p>
            <ul>
                <li>
                    <p> {{translation.translate("RS-LINKEDIN-RECHERCHE")}}</p>
                </li>
                <li>
                    <p>{{translation.translate("RS-LINKEDIN-DEV")}} </p>
                </li>

                <li>
                    <p>{{translation.translate("RS-LINKEDIN-COLLAB")}} </p>
                </li>

            </ul>
            <p>{{translation.translate("RS-LINKEDIN-LAST-TEXTE")}} </p>
        </div>
        <a target="_blank" href="https://www.linkedin.com/in/etienne-paquelet/">
            <button>{{translation.translate("RS-LINKEDIN-BUTTON")}} </button>
        </a>
    </div>
</div>