.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12dvh;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    min-width: 400px;
    width: 40vw;
    margin: 10px;
    padding: 10px;
    
    border-radius: 10px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    display: block;    
    margin: 10px auto;    
    border: none;    
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;    
    background-color: #1da3e6;
    font-size: large;
}

img {
    width: 50%;
    margin: 0 auto;
}

.text-overlay {
    text-align: justify;
    padding: 15px;
    padding-bottom: 0;
}