<div class="container-main">
    <div class="container">
        <img [src]="github" alt="Logo GitHub">
        <div class="text-overlay">
            <p>GitHub est une plateforme de gestion de code et de collaboration largement utilisée
                par les développeurs et les équipes pour héberger, versionner et partager leurs projets. Elle permet le
                dépôt et le stockage de projets sous forme de repositories (ou répertoires), facilitant ainsi la gestion
                des versions et la collaboration sur le code source.<br>
                Principalement utilisée pour le développement d'applications et de logiciels, GitHub prend en charge le
                système de contrôle de version Git, qui permet de suivre l'historique des modifications apportées au
                code.<br>Parmi ses fonctionnalités clés :</p>
            <ul>
                <li>
                    <p>Collaboration : Possibilité de travailler à plusieurs sur un même projet via les pull requests et
                        les branches.</p>
                </li>
                <li>
                    <p>Suivi des modifications : Chaque changement est historisé, permettant de revenir à des versions
                        antérieures du projet.</p>
                </li>
                <li>
                    <p>Gestion des projets : Outils intégrés comme les issues, projets et wikis pour organiser le
                        travail et suivre l'avancement.</p>
                </li>
                <li>
                    <p>Open-source et privé : GitHub héberge aussi bien des projets open-source que des projets privés.
                    </p>
                </li>
            </ul>
            <p>Vous trouverez dans le lien suivant mes différents répertoires où sont exposés les différents projets que
                j'ai réalisés au BUT Réseaux et Télécommunications de Montbéliard.</p>
        </div>
        <button>Retrouvez mes projets sur GitHub</button>
    </div>
    <div class="container">
        <img [src]="linkedin" alt="Logo LinkedIn">
        <div class="text-overlay">
            <p>LinkedIn est un réseau social professionnel largement utilisé dans le monde entier, conçu pour favoriser
                le
                développement de relations professionnelles, le partage d'expertises et la mise en valeur des
                compétences.<br>
                Cette plateforme permet aux individus de créer un profil détaillé mettant en avant leur parcours
                académique,
                leurs expériences professionnelles, leurs compétences et leurs réalisations. Les membres peuvent élargir
                leur réseau en se connectant avec des collègues, des recruteurs, des partenaires commerciaux et des
                experts
                de divers secteurs d'activité.<br>LinkedIn est également un outil puissant pour :</p>
            <ul>
                <li>
                    <p>Rechercher des opportunités d'emploi : Offres publiées par des entreprises et recrutement direct
                        via la plateforme.</p>
                </li>
                <li>
                    <p>Développer une image de marque personnelle : Publication d'articles, partage de projets et
                        interactions avec des publications d'autres professionnels.</p>
                </li>
                
                <li>
                    <p>Collaborer et échanger : Participation à des groupes de discussion et forums thématiques.</p>
                </li>

            </ul>
            <p>Vous y trouverez dans le lien suivant mon profil LinkedIn :</p>
        </div>
        <a target="_blank" href="https://www.linkedin.com/in/etienne-paquelet/">
            <button>Retrouvez mon profil sur LinkedIn</button>
        </a>
    </div>
</div>