.main {
    width: 100vw;
    height: 100vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  body {
    /* font-family: 'Times New Roman', Times, serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(#4816ed, #0b83f3 45%, #fff 45%, #fff 100%); */
    /* background-image: url(../../../public/assets/img/background.jpg); */
  }
  
  .card {
    position: relative;
    margin-top: 15dvh;
    width: 25vw;
    height: 75dvh;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  
  /* .card:hover {
    box-shadow: 6px 6px 25px rgba(255, 255, 255, 0.5);
  
  } */
  
  .img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }
  
  .img-bx img {
    position: absolute;
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    margin-top: 1dvh;
    position: absolute;
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  
  }
  
  .content .detail h2 {
    /* color: #444; */
    color: white;
    font-size: 1.5em; 
    font-weight: bolder;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  .content .detail h2 span {
    font-size: 0.7em;
    /* color: #03a9f4; */
    color: white;
    font-weight: bold;
  
  }
  
  .sci {
    position: relative;
    display: flex;
    margin-top: 5px;
  
  }
  
  .sci li {
    list-style: none;
    margin: 4px;
  
  }
  
  .sci li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color: #444;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
  
  }
  
  .sci li a:hover {
  
    background-color: #03a9f4;

    
  }

  
  
  .image {
    width: 70%;
    /* border-radius: 100%; */
  }
  
  .image2 {
    width: 10vh;
    /* border-radius: 100%; */
  }


  
  
  
  #texteposition {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .texte {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  #titre1 {
    font-size: large;
  }
  
  #titre2 {
    font-size: xx-large;
  }
  
  .positionimage {
    display: flex;
    justify-content: space-evenly;
  }
  
  #mail {
    width: 11vw;
    margin-top: 0;
    margin-left: 25px;
  }
  
  .listeItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  
    &>img {
        object-fit: contain;
        object-position: center;
        background-repeat: no-repeat;
  
        width: 170px;
        height: 170px;
    }
  
    &>p {
        text-align: center;
    }
  }
  
  
  .body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#03a9f4, #03a9f4 45%, #fff 45%, #fff 100%);
  }
  
  
  video {
    position: absolute;
  
    width: 90vw;
    height: 100dvh;
    object-fit: cover;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    z-index: 2;
    /* Assure que l'overlay est au-dessus de la vidéo */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 5dvh; */
  }
  
  .overlay>h1 {
    color: white;
    /* Le texte est blanc */
    font-size: 4em;
  
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15vw ;
    padding: 5px 15px;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5);  */
  }
  