.case {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin-top: 50px;
}


.image-container {
    position: relative;
    max-width: 30vw;
    margin-bottom: 40px;
    
}

.image-container:hover {
    .text-overlay {
        background: rgba(0, 0, 0, 0.7);
        color: white;        
    }

    .text-overlay:hover {
        background: rgba(255, 255, 255, 0.8);      
        color: black;    
        cursor: pointer;    
    }
}

.image-container img {
    width: 30dvw;
    height: 35dvh;
    display: block;
    opacity: 0.5;
    border-radius: 10px;
  
    transition: all 0.5s ease-in-out;
}

.image-container img:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.text-overlay {
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    
    position: absolute;
    translate: -50% -100%;
    top: 50%;
    left: 50%;
}