<br>
<br><br><br><br>

<div class="case">
    <div class="image-container">
        <img [src]="accueil" alt="Accueil" routerLink="/accueil">
        <p class="text-overlay">Accueil</p>
    </div>
    <div class="image-container">
        <img [src]="photocompetence" alt="Alternance" routerLink="/entreprise">
        <p class="text-overlay">Alternance</p>
    </div>
    <div class="image-container">
        <img [src]="photocompetence" alt="compétences" routerLink="/portfolio">
        <p class="text-overlay">Vitrine de mes compétences</p>
    </div>
</div>
<div class="case1">
    <div class="image-container">
        <img [src]="photocompetence" alt="Mes projets" routerLink="/projetbut">
        <p class="text-overlay">Vitrine de mes projets</p>
    </div>
    <div class="image-container">
        <img [src]="photocompetence" alt="Compétence" routerLink="/reseaux-sociaux">
        <p class="text-overlay">Réseaux sociaux</p>
    </div>

    <div class="image-container">
        <img [src]="contact" alt="Contact" routerLink="/contact">
        <p class="text-overlay">Contacts</p>
    </div>
</div>
<div class="case2">
    <!-- <div class="image-container">
        <img [src]="photocompetence" alt="Compétence">
        <p class="text-overlay">Mes valeurs</p>
    </div> -->
    <div class="image-container">
        <img [src]="photocompetence" alt="Compétence">
        <p class="text-overlay">Autres</p>
    </div>

</div>