<div class="texte">

    <p>{{translation.translate("SAE503-PRESENTATION")}}

        <br><br>{{translation.translate("SAE503-OBJECTIF")}}

    <ul>
        <li>{{translation.translate("SAE503-PHASETUD")}} </li>
        <ul>
            <li>{{translation.translate("SAE503-ETUDE1")}}</li>
            <li>{{translation.translate("SAE503-ETUDE2")}}</li>
            <li>{{translation.translate("SAE503-ETUDE3")}}</li>
            <li>{{translation.translate("SAE503-ETUDE4")}}</li>
        </ul>
        <li>{{translation.translate("SAE503-PHASEDEP")}}</li>
        <ul>
            <li>{{translation.translate("SAE503-DEP1")}}</li>

        </ul>
        <li>{{translation.translate("SAE503-PHASESUP")}}</li>
        <ul>
            <li>{{translation.translate("SAE503-SUP1")}}</li>

        </ul>
        <li>{{translation.translate("SAE503-PHASESECU")}}</li>
        <ul>
            <li>{{translation.translate("SAE503-SECU1")}}</li>
        </ul>
    </ul>

    <h4>{{translation.translate("SAE503-PHASETUD")}}</h4>

    <p>{{translation.translate("SAE503-PHASETU-DESCR")}}
        <br> <br><i>{{translation.translate("SAE503-PHASETU-DESCR1")}} <br><br>
            {{translation.translate("SAE503-PHASETU-DESCR2")}}</i> <br> <br>

        {{translation.translate("SAE503-SCHEMA")}}
    </p>

    <img [src]="oldsi" alt="SI non sécurisé" (click)="enlargeImage()"> <br>

    <p>{{translation.translate("SAE503-SI-FICTIF")}}</p>

    <ul>
        <li>{{translation.translate("SAE503-POINT+")}} </li>
        <ul>
            <li>{{translation.translate("SAE503-POINT+1")}}</li>
            <li>{{translation.translate("SAE503-POINT+2")}}</li>
        </ul>
        <li>{{translation.translate("SAE503-POINTNEGA")}}</li>
        <ul>
            <li>
               {{translation.translate("SAE503-POINTNEGA1")}}
            </li>
            <li>
              {{translation.translate("SAE503-POINTNEGA2")}}
            </li>
        </ul>
    </ul>


    <p>{{translation.translate("SAE503-PHASETU-RAP")}} <a target="_blank" [href]="docetude">Document d'étude.pdf</a> <br> <br>

        {{translation.translate("SAE503-NEW-ARCHI")}} </p>

    <img [src]="newsi" alt="Nouveau SI du CHU Livrac" (click)="enlargeImage2()">

    <h4>{{translation.translate("SAE503-PHASEDEP")}}</h4>

    <p>{{translation.translate("SAE503-ORGA-DEP")}} <br> <br>

        <i>{{translation.translate("SAE503-REGLE-IDS")}}
        </i>
    </p>



    <h4>{{translation.translate("SAE503-PHASESUP")}}</h4>


    <p>{{translation.translate("SAE503-ORGA-SUP")}} </p>

    <img [src]="zabbix" alt="Tableau de bord de Zabbix" (click)="enlargeImage3()">

    <h4>{{translation.translate("SAE503-PHASESECU")}}</h4>

    {{translation.translate("SAE503-OBJ-SECU")}}
    <li>{{translation.translate("SAE503-SECU2")}}</li>
    <li>{{translation.translate("SAE503-SECU3")}}</li>
    <li>{{translation.translate("SAE503-SECU4")}} </li>
    <li>{{translation.translate("SAE503-SECU5")}} </li>

    <h4>{{translation.translate("SAE503-TITRE-RETEX")}}</h4>

    <li>{{translation.translate("SAE503-RETEX1")}}</li>
    <li>{{translation.translate("SAE503-RETEX2")}}</li>


</div>
<div class="overlay" *ngIf="isImageEnlarged" (click)="closeEnlargedImage()">
    <img class="bigphoto" [src]="oldsi">
</div>
<div class="overlay" *ngIf="isImageEnlarged2" (click)="closeEnlargedImage()">
    <img class="bigphoto" [src]="newsi">
</div>
<div class="overlay" *ngIf="isImageEnlarged3" (click)="closeEnlargedImage()">
    <img class="bigphoto" [src]="zabbix">
</div>