

<html>

<app-video class="main" [bgImgUrl]="bgImgUrl" titre="Mes compétences"
    lienFleche="./portfolio#presentation"></app-video>

<div id="presentation" style="padding-left: 5vw; padding-bottom: 3vw; text-align: center;">
    Voici une synthèse de mes compétences développées au cours de ma formation, vous trouverez dans l'onglet projets leur mise en œuvre
</div>


<div class="overlay" *ngIf="show" (click)="closeoverlay($event)"> <!-- Admininistrer les réseaux et l'Internet-->
    <div class="popup-content">

        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div class="titre">
            <p class="title">Administrer les réseaux et Internet</p>
            <div class="progress-container2">
                <div class="progress-bar width-73">
                    73%
                </div>
            </div>
        </div>
        <br><br>
        <div class="OS">
            <p>Administration Système</p>
            <div class="progress-container">
                <div class="progress-bar width-80">
                    80%
                </div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>Windows Server (2019/2022)</li>
                    </td>
                    <td class="spacer">
                        <li>Active Directory, GPO, DHCP, DNS, Partages réseaux, DFS</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Windows Client (10)</li>
                    </td>
                    <td class="spacer">
                        <li>Installation, Configuration, Utilisation</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Linux</li>
                    </td>
                    <td class="spacer">
                        <li>DNS, Samba, ftp, tftp, ssh, Apache 2, DHCP</li>
                    </td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="OS">
            <p>Réseaux</p>
            <div class="progress-container">
                <div class="progress-bar width-75">75%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>Switchs</li>
                    </td>
                    <td class="spacer">
                        <li>Configuration de Switch et de routeurs physiques et virtuels.</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Routeurs</li>
                    </td>
                    <td class="spacer">
                        <li>Routage statique (RIPv1, RIPv2)</li>

                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">

                        <li>Routage dynamique (OSPF, BGP, MPLS)</li>

                    </td>

                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Routage Inter-Vlan</li>

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="spacer">
                        <li> Gestion de VLAN</li>
                    </td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="OS">
            <p>Virtualisation</p>
            <div class="progress-container">
                <div class="progress-bar width-65">65%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>GNS3</li>
                    </td>
                    <td class="spacer">
                        <li>Création de réseaux d'entreprises complets (GNS3/Packet Tracer)</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>VirtualBox</li>
                    </td>
                    <td class="spacer">
                        <li>Installation, Configuration, Utilisation de VirtualBox</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Hyper-V</li>
                    </td>
                    <td class="spacer">
                        <li>Installation, Configuration : réplication et utilisation</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Packet Tracer</li>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<div class="overlay" *ngIf="show1" (click)="closeoverlay($event)"> <!-- Connecter les entreprises et usagers-->
    <div class="popup-content">

        <div class="close-popup" (click)="closepopup1()">
            &times;
        </div>

        <div class="titre">
            <p class="title">Connecter les entreprises et usagers</p>
            <div class="progress-container2">
                <div class="progress-bar width-50">
                    50%
                </div>
            </div>
        </div>

        <div class="OS">
            <p>Télécommunications</p>
            <div class="progress-container">
                <div class="progress-bar width-50">50%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>Téléphonie sur IP</li>
                    </td>
                    <td class="spacer">
                        <li>Mise en place de réseaux téléphoniques </li>
                        <li>Asterisk : configuration et utilisation</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Réseaux cellulaires</li>
                    </td>
                    <td class="spacer">
                        <li>Compréhension des réseaux internet (1G, GSM, UMTS, 4G LTE, 5G, Réseaux fibre/cuivre)
                        </li>
                    </td>
                </tr>


            </table>

        </div>

    </div>
</div>

<div class="overlay" *ngIf="show5" (click)="closeoverlay($event)"> <!-- certification-->
    <div class="popup-content">

        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div style="font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-align: center;" class="titre">Certifications</div>
        <div class="OS2">
            <div class="table">
                <table>
                    <tr>
                        <td>
                            <li>CCNAv7</li>
                        </td>
                        <td class="spacer2">
                            <li>Introduction aux
                                réseaux</li>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <li>CCNAv7</li>
                        </td>
                        <td class="spacer2">
                            <li>Notions de base
                                sur la commutation, le routage et le sans fil</li>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <li>CCNAv7</li>
                        </td>
                        <td class="spacer2">
                            <li>Mise en réseau,
                                sécurité et automatisation des entreprises</li>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</div>

<div class="overlay" *ngIf="show3" (click)="closeoverlay($event)"><!-- Sécuriser-->
    <div class="popup-content">

        <div class="close-popup" (click)="closepopup3()">
            &times;
        </div>
        <div class="titre">
            <p class="title">Sécuriser</p>
            <div class="progress-container2">
                <div class="progress-bar width-60">
                    60%
                </div>
            </div>
        </div>
        <div class="OS">
            <p>Sécuriser</p>
            <div class="progress-container">
                <div class="progress-bar width-60">60%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>Firewall (StormShield)</li>
                    </td>
                    <td class="spacer">
                        <li>Filtrage et NAT</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Pentesting</li>
                    </td>
                    <td class="spacer">
                        <li>Gestion d'ACL</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Supervision Réseaux</li>
                    </td>
                    <td class="spacer">
                        <li>Création d'autorité de certification</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Authentification : implicite (Certificat SSL) et explicite (portail captif : LDAP, Radius)
                        </li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Proxy HTTP/HTTPS</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>IDS/IPS</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Root-Me, Over The Wire : Bandit</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>SNMP : supervision de la MiB</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Zabbix : supervision réseaux</li>
                    </td>
                </tr>
            </table>
        </div>
        <!-- <div class="OS">
            <p>Bases de Données</p>
            <div class="progress-container">
                <div class="progress-bar width-40">40%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>SQL</li>
                    </td>
                    <td class="spacer">
                        <li>Création et modélisation de bases de données</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Réalisation de requêtes SQL simples</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">

                    </td>
                </tr>
            </table>
        </div> -->

    </div>
</div>

<div class="overlay" *ngIf="show6" (click)="closeoverlay($event)"> <!-- ///-->
    <div class="popup-content">

        <div class="close-popup" (click)="closepopup4()">
            &times;
        </div>
        <div class="OS">
            <p>Télécommunications</p>
            <div class="progress-container">
                <div class="progress-bar width-45">45%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>Téléphonie sur IP</li>
                    </td>
                    <td class="spacer">
                        <li>Mise en place de réseaux téléphoniques </li>
                        <li>Asterisk : configuration et utilisation</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Réseaux cellulaires</li>
                    </td>
                    <td class="spacer">
                        <li>Compréhension des réseaux internet (1G, GSM, UMTS, 4G LTE, 5G, Réseaux fibre/cuivre)</li>
                    </td>
                </tr>


            </table>
        </div>

    </div>
</div>

<div class="overlay" *ngIf="show2" (click)="closeoverlay($event)"> <!-- Créer des outils et applications pour les R&T-->
    <div class="popup-content">

        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div class="titre">
            <p class="title">Créer des outils et applications pour les R&T</p>
            <div class="progress-container2">
                <div class="progress-bar width-52-5">
                    52,5%
                </div>
            </div>
        </div>
        <div class="OS">
            <p>Scripting & Développement</p>
            <div class="progress-container">
                <div class="progress-bar width-65">65%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>PowerShell/Shell</li>
                    </td>
                    <td class="spacer">
                        <li>Création de script pour l'administration système</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>HTML/CSS/JavaScript/Angular/PHP</li>
                    </td>
                    <td class="spacer">
                        <li>Création de site web statique/dynamique</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>C++</li>
                    </td>
                    <td class="spacer">
                        <li>Connaissances basiques (Condition, Tableaux, Boucles)</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Java</li>
                    </td>
                    <td class="spacer">
                        <li>Création d'une application basique de chat.</li>
                    </td>
                </tr>
            </table>
        </div>
        <br><br>

        <div class="OS">
            <p>Bases de Données</p>
            <div class="progress-container">
                <div class="progress-bar width-40">40%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>SQL</li>
                    </td>
                    <td class="spacer">
                        <li>Création et modélisation de bases de données</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Réalisation de requêtes SQL simples</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">

                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<div class="overlay" *ngIf="show4" (click)="closeoverlay($event)"> <!-- Surveiller-->
    <div class="popup-content">

        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div class="titre">
            <p class="title">Surveiller</p>
            <div class="progress-container2">
                <div class="progress-bar width-60">
                    60%
                </div>
            </div>
        </div>
        <div class="OS">
            <p>Surveiller</p>
            <div class="progress-container">
                <div class="progress-bar width-60">60%</div>
            </div>


            <table>
                <tr>
                    <td>
                        <li>Firewall (StormShield)</li>
                    </td>
                    <td class="spacer">
                        <li>Filtrage et NAT</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Pentesting</li>
                    </td>
                    <td class="spacer">
                        <li>Gestion d'ACL</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Supervision Réseaux</li>
                    </td>
                    <td class="spacer">
                        <li>Création d'autorité de certification</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Authentification : implicite (Certificat SSL) et explicite (portail captif : LDAP, Radius)
                        </li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Proxy HTTP/HTTPS</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>IDS/IPS</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Root-Me, Over The Wire : Bandit</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>SNMP : supervision de la MiB</li>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td class="spacer">
                        <li>Zabbix : supervision réseaux</li>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>






<div class="button-container"> <!-- bouton administrer réseau et connecter usager-->
    <div class="positionboutongauche">

        <button class="bouton" id="admin" matTooltip="Mes compétences en Administration Systèmes et réseaux"
            (click)="openpopup()">
            <img class="imagegauche" [src]="bgImgUrl2">
            <div class="textgauche">
                Administrer les réseaux et Internet
            </div>
        </button>


    </div>
    <div class="positionboutondroit">

        <button class="bouton" matTooltip="Mes compétences en Télécommunication" (click)="openpopup1()">
            <img class="imagedb" [src]="bgImgUrl3">
            <div class="textdroite">
                Connecter les entreprises et usagers
            </div>
        </button>



    </div>

</div>

<div class="button-container"> <!-- bouton administrer réseau et connecter usager-->
    <div class="positionboutongauche">

        <button class="bouton" id="admin" matTooltip="Mes compétences en programmation"
            (click)="openpopup2()">
            <img class="imagegauche" [src]="bgImgUrl7">
            <div class="textdev">
                Créer des outils et applications informatiques <br> pour les R&T
            </div>
        </button>


    </div>
    <div class="positionboutondroit">

        <button class="bouton" matTooltip="Mes compétences en cybersécurité" (click)="openpopup3()">
            <img class="imagedb" [src]="bgImgUrl8">
            <div class="textdb">
                Sécuriser
            </div>
        </button>



    </div>

</div>

<div class="button-container">
    <div class="positionboutongauche">

        <button class="bouton" id="admin" matTooltip="Mes compétences en cybersécurité"
            (click)="openpopup4()">
            <img class="imagegauche" [src]="bgImgUrl8">
            <div class="textvirt">
                Surveiller
            </div>
        </button>


    </div>
    <div class="positionboutondroit">

        <button class="bouton" matTooltip="Mes certifications" (click)="openpopup5()">
            <img class="imagedb" [src]="bgImgUrl9">
            <div class="textdb">
                Certifications
            </div>
        </button>



    </div>

</div>

<!-- <div class="button-container"> bouton test
    <div class="positionboutongauche">

        <button class="bouton" matTooltip="Mes compétences Scripting et Développement" (click)="openpopup5()">
            <img class="imagedev" [src]="bgImgUrl7">
            <div class="textdev">
                Créer des outils et applications informatique <br> pour les R&T
            </div>
        </button>


    </div>
    <div class="positionboutondroit">

        <button class="bouton" matTooltip="Mes compétences en Bases de données" (click)="openpopup3()">
            <img class="imagedb" [src]="bgImgUrl8">
            <div class="textdb">
                Sécuriser
            </div>
        </button>



    </div>

</div> -->

<!-- <div class="button-container"> bouton cyber test
    <div class="positionboutongauche">

        <button class="bouton" id="admin" matTooltip="Mes compétences en Virtualisation" (click)="openpopup6()">
            <img class="imagegauche" [src]="bgImgUrl8">
            <div class="textvirt">
                Surveiller
            </div>
        </button>


    </div>
    <div class="positionboutondroit">

        <button class="bouton" matTooltip="Mes compétences en Bases de données" (click)="openpopup5()">
            <img class="imageautre" [src]="bgImgUrl9">
            <div class="textautre">
                Créer des outils et applications informatique pour les R&T
            </div>
        </button>



    </div>

</div> bouton cyber test -->




<!-- <div class="positionboutoncyber"> ancien bouton cyber

    <button class="bouton" matTooltip="Mes compétences en Administration Systèmes" (click)="openpopup6()">
        <img class="imagecyber" [src]="bgImgUrl8">
        <div class="textcyber">
            Surveiller
        </div>
    </button>


</div> -->

</html>