<app-video class="main" [bgImgUrl]="bgImgUrl" [titre]="this.translation.translate('PORTFOLIO-TITRE')"
    lienFleche="./portfolio#presentation"></app-video>

    <h1 id="phoneusing" class="phonetitle">{{this.translation.translate("PORTFOLIO-TITRE")}} </h1>
    <div id="phoneusing" class="phonebar"></div>


<div id="presentation" style="padding-left: 5vw; padding-bottom: 3vw; text-align: center;">
    {{this.translation.translate("PORTFOLIO-PRESENTATION")}}
</div>
<div class="overlay" *ngIf="show" (click)="closeoverlay($event)"> <!-- Admininistrer les réseaux et l'Internet-->
    <div class="popup-content">
        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div class="titre">
            <p class="title">{{this.translation.translate("PORTFOLIO-TITRE-COMPETENCE-UN")}} </p>
            <div class="progress-container2">
                <div class="progress-bar width-73">
                    73%
                </div>
            </div>
        </div>
        <br><br>
        <div class="OS">
            <p>{{this.translation.translate("PORTFOLIO-TITRE-COMPETENCE-UN")}} </p>
            <div class="progress-container">
                <div class="progress-bar width-80">
                    80%
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-UN-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-UN-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-DEUX-COMPETENCE-UN-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-UN-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-TROIS-COMPETENCE-UN-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-TROIS-COMPETENCE-UN-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="OS">
            <p>{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}}</p>
            <div class="progress-container">
                <div class="progress-bar width-75">75%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}} </li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-DEUX-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-TROIS-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-QUATRE-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-CINQ-COMPETENCE-UN-SOUS-COMPETENCE-DEUX")}} </li>
                    </td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="OS">
            <p>{{this.translation.translate("PORTFOLIO-TITRE-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}}</p>
            <div class="progress-container">
                <div class="progress-bar width-65">65%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-DEUX-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}} </li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}} </li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-TROIS-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}} </li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-TROIS-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}} </li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-QUATRE-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}} </li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-QUATRE-COMPETENCE-UN-SOUS-COMPETENCE-TROIS")}} </li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="show1" (click)="closeoverlay($event)"> <!-- Connecter les entreprises et usagers-->
    <div class="popup-content">
        <div class="close-popup" (click)="closepopup1()">
            &times;
        </div>
        <div class="titre">
            <p class="title">{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-DEUX")}} </p>
            <div class="progress-container2">
                <div class="progress-bar width-50">
                    50%
                </div>
            </div>
        </div>
        <div class="OS">
            <p>{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-DEUX-SOUS-COMPETENCE-UN")}}</p>
            <div class="progress-container">
                <div class="progress-bar width-50">50%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-DEUX-SOUS-COMPETENCE-UN")}} </li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-DEUX-SOUS-COMPETENCE-UN")}} </li>
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-DEUX-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-DEUX-COMPETENCE-DEUX-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-TROIS-COMPETENCE-DEUX-SOUS-COMPETENCE-UN")}}
                        </li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="show5" (click)="closeoverlay($event)"> <!-- certification-->
    <div class="popup-content">
        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div style="font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-align: center;" class="titre">{{translation.translate("PORTFOLIO-CERTIF-TITRE")}}</div>
        <div class="OS2">
            <div class="table">
                <table>
                    <tr>
                        <td>
                            <li>{{translation.translate("PORTFOLIO-CERTIF-SOUS-TITRE-UN")}}</li>
                        </td>
                        <td class="spacer2">
                            <li>{{translation.translate("PORTFOLIO-CERTIF-TEXTE-UN")}}</li>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <li>{{translation.translate("PORTFOLIO-CERTIF-SOUS-TITRE-DEUX")}}</li>
                        </td>
                        <td class="spacer2">
                            <li>{{translation.translate("PORTFOLIO-CERTIF-TEXTE-DEUX")}}</li>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <li>{{translation.translate("PORTFOLIO-CERTIF-SOUS-TITRE-TROIS")}}</li>
                        </td>
                        <td class="spacer2">
                            <li>{{translation.translate("PORTFOLIO-CERTIF-TEXTE-TROIS")}}</li>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="show3" (click)="closeoverlay($event)"><!-- Sécuriser-->
    <div class="popup-content">
        <div class="close-popup" (click)="closepopup3()">
            &times;
        </div>
        <div class="titre">
            <p class="title">{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</p>
            <div class="progress-container2">
                <div class="progress-bar width-60">
                    60%
                </div>
            </div>
        </div>
        <div class="OS">
            <p>{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</p>
            <div class="progress-container">
                <div class="progress-bar width-60">60%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-DEUX-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-TROIS-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-TROIS-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-QUATRE-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}
                        </li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-CINQ-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-SIX-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-SEPT-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-HUIT-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-NEUF-COMPETENCE-QUATRE-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
            </table>
        </div>
        <!-- <div class="OS">
            <p>Bases de Données</p>
            <div class="progress-container">
                <div class="progress-bar width-40">40%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>SQL</li>
                    </td>
                    <td class="spacer">
                        <li>Création et modélisation de bases de données</li>
                    </td>
                </tr>
                <tr>
                    <td>                    </td>
                    <td class="spacer">
                        <li>Réalisation de requêtes SQL simples</li>
                    </td>
                </tr>
                <tr>
                    <td>                    </td>
                    <td class="spacer">                    </td>
                </tr>
            </table>
        </div> -->
    </div>
</div>
<!-- <div class="overlay" *ngIf="show6" (click)="closeoverlay($event)"> 
    <div class="popup-content">
        <div class="close-popup" (click)="closepopup4()">
            &times;
        </div>
        <div class="OS">
            <p>Télécommunications</p>
            <div class="progress-container">
                <div class="progress-bar width-45">45%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>Téléphonie sur IP</li>
                    </td>
                    <td class="spacer">
                        <li>Mise en place de réseaux téléphoniques </li>
                        <li>Asterisk : configuration et utilisation</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>Réseaux cellulaires</li>
                    </td>
                    <td class="spacer">
                        <li>Compréhension des réseaux internet (1G, GSM, UMTS, 4G LTE, 5G, Réseaux fibre/cuivre)</li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div> -->
<div class="overlay" *ngIf="show2" (click)="closeoverlay($event)"> <!-- Créer des outils et applications pour les R&T-->
    <div class="popup-content">
        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div class="titre">
            <p class="title">{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-TROIS")}}</p>
            <div class="progress-container2">
                <div class="progress-bar width-52-5">
                    52,5%
                </div>
            </div>
        </div>
        <div class="OS">
            <p>{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</p>
            <div class="progress-container">
                <div class="progress-bar width-65">65%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-DEUX-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-TROIS-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-TROIS-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-QUATRE-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-QUATRE-COMPETENCE-TROIS-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="OS">
            <p>{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-TROIS-SOUS-COMPETENCE-DEUX")}}</p>
            <div class="progress-container">
                <div class="progress-bar width-40">40%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-TROIS-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-TROIS-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-TROIS-SOUS-COMPETENCE-DEUX")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer"> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="show4" (click)="closeoverlay($event)"> <!-- Surveiller-->
    <div class="popup-content">
        <div class="close-popup" (click)="closepopup()">
            &times;
        </div>
        <div class="titre">
            <p class="title">{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</p>
            <div class="progress-container2">
                <div class="progress-bar width-60">
                    60%
                </div>
            </div>
        </div>
        <div class="OS">
            <p>{{translation.translate("PORTFOLIO-TITRE-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</p>
            <div class="progress-container">
                <div class="progress-bar width-60">60%</div>
            </div>
            <table>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-UN-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-UN-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-DEUX-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-DEUX-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>{{translation.translate("PORTFOLIO-TITRE-TROIS-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-TROIS-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-QUATRE-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}
                        </li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-CINQ-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-SIX-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-SEPT-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-HUIT-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td class="spacer">
                        <li>{{translation.translate("PORTFOLIO-TEXTE-NEUF-COMPETENCE-CINQ-SOUS-COMPETENCE-UN")}}</li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="button-container">
    @for (item of buttons; track $index) {
    <div class="button">
        <button [matTooltip]="item.tooltip" (click)="item.fct()">
            <img [src]="item.img">
            <div class="divider">
                <p>{{ item.text }}</p>
                <div class="tags-container">
                    @for (tag of item.tags; track $index) {
                    <p>{{tag}}</p>
                    }
                </div>
            </div>
        </button>
    </div>
    }
</div>