.main {
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main>h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-size: 4em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



hr {
    background-color: black;
    margin-left: 5vw;
    margin-right: 55vw;

}





/* .progress-container {
    float: right;

    width: 50%;
    background-color: #e0e0df;

    margin-left: 5vh;
    margin-top: -4vh;
    margin-bottom: 2vh;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

}

.progress-bar {
    height: 20px;
    width: 0;
    animation-name: test;
    animation-duration: 3s;
    background-color: rgb(85, 185, 238);
    
    border-radius: 25px;
    text-align: right;
    line-height: 20px;
    Vertically center the text
    color: white;
    font-weight: bold;
    transition: all 2s ease;

    Smooth transition for width changes
} */

.progress-container {
    float: right;
    width: 50%;
    background-color: #e0e0df;
    margin-left: 5vh;
    margin-top: -4vh;
    margin-bottom: 2vh;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-container2 {
    float: right;
    width: 50%;
    background-color: #e0e0df;
    
    margin-left: 1vh;
    margin-top: -4vh;
    margin-bottom: 2vh;
    margin-right: 5vw;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    height: 20px;
    width: 0; /* Initial width */
    background-color: rgb(85, 185, 238);
    border-radius: 25px;
    text-align: right;
    line-height: 20px;
    color: white;
    font-weight: bold;
    animation: grow 3s ease forwards; /* Animation applied */
    transition: all 2s ease; /* Smooth transition for width changes */
}



@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Full width for animation */
    }
}

/* Additional classes for different widths */
.width-35 {
    animation: grow35 2s ease forwards;
}

.width-30 {
    animation: grow30 2s ease forwards;
}

.width-80 {
    animation: grow80 2s ease forwards;
}

.width-75 {
    animation: grow75 2s ease forwards;
}

.width-65 {
    animation: grow65 2s ease forwards;
}

.width-45 {
    animation: grow45 2s ease forwards;
}

.width-50 {
    animation: grow50 2s ease forwards;
}

.width-73 {
    animation: grow73 2s ease forwards;
}

.width-52-5 {
    animation: grow52-5 2s ease forwards;
}


.width-60 {
    animation: grow60 2s ease forwards;
}

.width-40 {
    animation: grow40 2s ease forwards;
}


@keyframes grow35 {
    from {
        width: 0;
    }
    to {
        width: 35%;
    }
}

@keyframes grow30 {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}

@keyframes grow40 {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}

@keyframes grow45 {
    from {
        width: 0;
    }
    to {
        width: 45%;
    }
}

@keyframes grow52-5 {
    from {
        width: 0;
    }
    to {
        width: 53%;
    }
}

@keyframes grow50 {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}


@keyframes grow60 {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}

@keyframes grow80 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes grow75 {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@keyframes grow73 {
    from {
        width: 0;
    }
    to {
        width: 73%;
    }
}

@keyframes grow65 {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@keyframes test {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: 30%;
        width: 100%;
    }
}

span {

    background-color: red;
    height: 1vh;
    width: 700px;
}

.OS {
    margin-left: 5vw;
    padding-left: 5vw;
    background-color: whitesmoke;
    margin-right: 5vw;
    padding-right: 5vw;
    border-radius: 20px;
    margin-top: 2dvh;
}

/* Set the width of the progress bar to 70% */
/* .progress-bar {
    width: 50%;
} */



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
    margin-top: 50px;
}

td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

td:first-child {
    width: 40%;
}



/* td li {
    list-style-type: none;
} */
.spacer {
    width: 60%;
    padding-left: 100px;
}



/* .button-positionning1 {
    display: table;

    float: right;
    margin-left: 5vw;
    margin-right: 50vw;
    margin-bottom: 60px;
    background-color: aqua;


} */

.positionboutoncyber {
    float: left;
    padding-left: 0;
    font-size: 16px;
    /* padding-bottom: 20vh; */
    margin-right: 51vw;
    margin-left: 10vh;
    margin-bottom: 60px;
    
}

 
.button-container {
    display: flex;
    justify-content: space-between;
    /* background-color: grey; */
    margin: 0 3vw;
    margin-bottom: 60px;
}

.positionboutongauche, .positionboutondroit { 
    display: flex;
    align-items: center;
    /* background-color: red; */
    flex: 1;
    margin: 0 30px; /* Marges ajustables pour l'espacement entre les boutons */
}

.bouton {
    background-color: white;
    border: none;
    background-color: whitesmoke;
    padding-left: 0;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    /* margin: 4px 4px; */
    cursor: pointer;
}

.bouton:hover {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
}

/*contenu css pour éléments a l'intérieur du bouton*/
.textgauche {
    float: right;
    margin-top: 4vw;
    margin-right: 8vh;
    color: black;
    padding-bottom: 0;
}

.textvirt {
    float: right;
    padding: 5vw;
    padding-right: 21vh;
    color: black;
    padding-bottom: 0;
}
.imagegauche {
    float: left;
    width: 40%;
    height: 30%;
}

.textdroite {
    float: right;
    margin-top: 4vw;
    margin-right: 5vh;
    color: black;
    padding-bottom: 10px;
    
}

.imagedroite {
    float: left;
    width: 34%;
    height: 30%;
}

.imagedb {
    float: left;
    width: 41%;
    height: 30%;
}

.textdb {
    float: right;
    margin-top: 4vw;
    margin-right: 20vh;
    color: black;
    padding-bottom: 0;
    text-align: center;
}

.textdev {
    float: right;
    margin-top: 4vw;
    text-align: center;
    margin-right: 2dvh;
    color: black;
    padding-bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

}


@keyframes popup-animation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.popup-content {
    background-color: #fff;
    padding: 2px;
    border-radius: 10px;
    width: 95%;
    height: 42%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: popup-animation 0.3s ease-out;
    overflow-y: auto;
    overflow-x: hidden;
    

}



.close-popup {
    position: relative;
    top: 0px;
    right: -123%;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
    scale: 1.5;
    font-size: x-large;
}

.close-popup:hover {
    color: red;
}


video {
    position: absolute;
  
    width: 90vw;
    height: 90dvh;
    object-fit: cover;
    z-index: 1;
  }
  
  .overlay10 {
    position: absolute;
    z-index: 2;
    /* Assure que l'overlay est au-dessus de la vidéo */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay10>h1 {
    color: white;
    /* Le texte est blanc */
    font-size: 4em;
  
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 26vw ;
    padding: 5px 15px;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5);  */
  }
  

  .overlay20 {
    position: absolute;
    z-index: 3;
    /* Assure que l'overlay est au-dessus de la vidéo */
    /* min-height: 100vh; */
    width: 10%;
    height: 10%;
    margin-left: 41vw;
    margin-top: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  
  .overlay20 a {
    color: white;
  
    font-size: 3em;
    animation: fadeBlink 3s infinite;
    font-family: Arial, Helvetica, sans-serif;
  
    text-align: center;
  
  }
  
  @keyframes fadeBlink {
    0%, 100% {
      opacity: 1; /* Fully visible for the first half */
    }
    50% {
      opacity: 0; /* Gradually fades out in the second half */
    }
  
  
  }
  
  
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
  
  html::-webkit-scrollbar {
    display: none; /* Cache la scrollbar */
  }
  
  /* Solution pour Firefox */
  html {
    scrollbar-width: none; /* Cache la scrollbar dans Firefox */
  }


  .positiontexte {
    /* width: 250px; */
    height: 400px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 1px solid #7b7d7f; */
    /* margin-top: 20dvh; */
}

.positiontexte::-webkit-scrollbar {
    width: 7px;
}

.positiontexte::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    /* border: 1px solid #fff; */
}


.title {
    margin-left: 5vw;
}

.titre {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 0;
    z-index: 1;
    /* border-bottom: 1px solid #ddd; */
}


.OS2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 1px;
    text-align: center;
}

/* Style du conteneur de table */
.table {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Table et cellules */
.table table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 15px 10px;
    vertical-align: top;
    font-size: 16px;
    color: #444;
    font-weight: 500;
}



/* Style pour les éléments de liste */
.table li {
    list-style-type: none;
    font-weight: 600;
    color: #444;
    padding-left: 0;
}

/* Cellule de séparation (description) */
.spacer2 {
    color: #666;
    font-style: italic;
    font-weight: 400;
    padding-left: 15px;
}

/* Ligne de bordure entre chaque certification */
.table tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}

/* Effet visuel lors du survol de la ligne */
.table tr:hover {
    background-color: #f1f1f1;
}

/* Responsive - ajustements pour petits écrans */
@media (max-width: 600px) {
    .OS {
        font-size: 20px;
    }
    .table td {
        padding: 10px;
    }
}