<button class="dragbutton" [matMenuTriggerFor]="menu" mat-flat-button cdkDrag>Menu</button>

<mat-menu #menu>
    @for (element of ListeMenu2; track $index) {
    <button mat-menu-item [routerLink]="element.link"> {{element.titre}}</button>
    }

</mat-menu>

<div class="main-container">
    <div #colonne class="colonne">
        <div class="button-close" (click)="colonne.classList.toggle('open')"></div>
        <div class="nom">
            <a href="accueil" title="Acceuil" class="profil2">
                <div class="profil">
                    <img [src]="bgImgUrl1">
                </div>
                <div class="texte">
                    <p>{{translation.translate("HEADER2-TITRE")}}</p>
                </div>
            </a>
        </div>
        @for (element of listeMenu; track $index) {
        <button mat-button [routerLink]="element.link">{{element.titre}}</button>
        }
        <div class="image">
            @for (element of listeRS; track $index) {
            <a [href]="element.link" target="_blank"><img [src]="element.titre"></a>
            }
        </div>
        <div style="margin-top: 50px;" class="image">
            @for (element of listeFLAG; track $index) {
            <img style="cursor: pointer;" (click)="element.action()" [src]="element.link">
            }
        </div>

    </div>
    <div class="colonne-mobile">
        <div class="button-open" (click)="colonne.classList.toggle('open')"></div>
         
    </div>
    <div class="colonne-mobile">
        <div class="button-open" (click)="colonne.classList.toggle('open')"></div>
         
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
    

</div>