<div class="main-container">
    <div #colonne class="colonne">
        <div class="button-close" (click)="colonne.classList.toggle('open')"></div>
        <div class="nom">
            <a href="accueil" title="Acceuil" class="profil2">
                <div class="profil">
                   <img [src]="bgImgUrl1">
                </div>
                <div class="texte">
                    <p> Mon Portfolio</p>
                </div>
            </a>
        </div>
        @for (element of listeMenu; track $index) {
        <button mat-button [routerLink]="element.link">{{element.titre}}</button>
        }
        <div class="image">
            @for (element of listeRS; track $index) {
            <a [href]="element.link" target="_blank"><img [src]="element.titre"></a>
            }
        </div>
        
    </div>
    <div class="colonne-mobile">
        <div class="button-open" (click)="colonne.classList.toggle('open')"></div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>