<br>
<br><br><br><br><br> <br>

<div class="case">
    <div class="image-container">
        <img [src]="tennis" alt="Accueil" routerLink="/accueil">
        <p class="text-overlay">Le tennis</p>
    </div>

    <div class="image-container">
        <img [src]="chess" alt="Compétence" routerLink="/centre-interet">
        <p class="text-overlay">Les échecs</p>
    </div>
    <div class="image-container">
        <img [src]="guitare" alt="compétences" routerLink="/portfolio">
        <p class="text-overlay">La Guitare</p>
    </div>
    <div class="image-container">
        <img [src]="rock" alt="Alternance" routerLink="/entreprise">
        <p class="text-overlay">Le métal - le Rock</p>
    </div>


    <div class="image-container">
        <img [src]="velo" alt="Mes projets" routerLink="/projetbut">
        <p class="text-overlay">le VTT</p>
    </div>
    <div class="image-container">
        <img [src]="gaming" alt="Compétence" routerLink="/liens-divers">
        <p class="text-overlay">les jeux vidéos</p>
    </div>


</div>