<div class="position-texte">
    <div class="texte">
        <p class="overlay1">{{translation.translate("SAE301-PRESENTATION")}} </p>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE301-P1")}}</li>
            <li>{{translation.translate("SAE301-P2")}}</li>
            <li>{{translation.translate("SAE301-P3")}}</li>
            <li>{{translation.translate("SAE301-P4-A")}}</li>
            <li>{{translation.translate("SAE301-P4-B")}}</li>
            <li>{{translation.translate("SAE301-P4-C")}}</li>
        </div>
        <p class="overlay1">
            {{translation.translate("SAE301-OBJECTIF")}}</p>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE301-OBJ1")}}</li>
            <li>{{translation.translate("SAE301-OBJ2")}} </li>
            <li>{{translation.translate("SAE301-OBJ3")}}</li>
            <li>{{translation.translate("SAE301-OBJ4")}}</li>
            <li>{{translation.translate("SAE301-OBJ5")}}</li>
        </div>

        <p class="overlay1">{{translation.translate("SAE301-PRESENTATION-MATOS")}}</p>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE301-MATOS1")}}</li>
            <li>{{translation.translate("SAE301-MATOS2")}}</li>
            <li>{{translation.translate("SAE301-MATOS3")}}</li>
        </div>
        <p class="overlay1">{{translation.translate("SAE301-PRESENTATION-INFRA-RES")}}</p>
        <img class="archisae301" [src]="archisae301" (click)="enlargeImage()"> <br><br>

        <p class="overlay1">{{translation.translate("SAE301-PRESENTATION-TACHE")}} </p>

        <p class="overlay1">{{translation.translate("SAE301-ETAPE1")}}
            <br>{{translation.translate("SAE301-ETAPE2")}}
        </p>
        <div style="text-align: center; font-weight: bold;">{{translation.translate("SAE301-PARTIE3-TITRE")}}</div>
        <br>
        <p class="overlay1">

            {{translation.translate("SAE301-PARTIE3-OBJ1")}}
            <br><br>{{translation.translate("SAE301-PARTIE3-OBJ2")}}
            <br><br>{{translation.translate("SAE301-PARTIE3-OBJ3")}}
            <br><br>{{translation.translate("SAE301-PARTIE3-OBJ4")}}
        </p>

        <img class="munin" [src]="image_munin" (click)="enlargeImage1()">
        <br><br>

        <p class="overlay1">{{translation.translate("SAE301-PRBLM1")}}</p>
        <br><br>

        <p class="overlay1">
            {{translation.translate("SAE301-DEUXIEME-PARTIE")}} <br>
        </p>
        <div style="text-align: center; font-weight: bold;">{{translation.translate("SAE301-PARTIE4-A-TITRE")}}</div> <br>
        <p class="overlay1">
            {{translation.translate("SAE301-PARTIE4-A-OBJ1")}} <br><br> {{translation.translate("SAE301-PARTIE4-A-OBJ2")}} <br><br> {{translation.translate("SAE301-PARTIE4-A-OBJ3")}} <br><br>
            {{translation.translate("SAE301-PARTIE4-A-OBJ4")}}
        </p>

        <div style="text-align: center; font-weight: bold;"> {{translation.translate("SAE301-PARTIE4-B-TITRE")}}</div> <br>

        <p class="overlay1"> {{translation.translate("SAE301-PARTIE4-B-PRES")}}</p>

        <img class="vpn" [src]="image_vpn" (click)="enlargeImage2()"> <br><br>

        <div style="text-align: center; font-weight: bold;"> {{translation.translate("SAE301-TITRE-RETEX")}}</div> <br>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE301-RETEX1")}}</li>
            <li>{{translation.translate("SAE301-RETEX2")}}</li>
            <li>{{translation.translate("SAE301-RETEX3")}}</li>

            <li>{{translation.translate("SAE301-RETEX4")}} </li>
        </div>

        <p class="overlay1">{{translation.translate("SAE301-LIEN-GITHUB")}} <a target="_blank" [href]="cr_sae_301">cr_sae_301.pdf</a>
        </p>
    </div>
</div>

<div class="enlarged-image-overlay" *ngIf="isImageEnlarged" (click)="closeEnlargedImage()">
    <img class="enlarged-image" [src]="archisae301">
</div>

<div class="enlarged-image-overlay" *ngIf="isImageEnlarged1" (click)="closeEnlargedImage()">
    <img class="enlarged-image" [src]="image_munin">
</div>

<div class="enlarged-image-overlay" *ngIf="isImageEnlarged2" (click)="closeEnlargedImage()">
    <img class="enlarged-image" [src]="image_vpn">
</div>