@media (max-width: 600px) {
  .dragbutton {
    /* background-color: rgb(212, 127, 127); */
    width: 120px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 600px) {
  .dragbutton {
    
    display: none;
    
  }
}