<!-- <div class="position-texte"> -->
<div class="texte">
    <p>{{translation.translate("SAE501-PRESENTATION")}} <br><br>
        {{translation.translate("SAE501-OBJ")}}
        <br><br> {{translation.translate("SAE501-ARCHI")}}
    </p>
    <p style="text-align: center;">{{translation.translate("SAE501-INCITATION-IMG")}}</p>
    <div class="picturelist">
        @for (element of ListeImage; track $index) {
        <div class="picture-item">
            <img style="margin: 0 auto; " [src]="element.img" (click)="element.fct()">
            <p style="text-align: center;">{{element.text}}</p>
        </div>
        }
    </div>
    <br><br>
    <p>{{translation.translate("SAE501-MATOS")}} </p>
    <div id="liste" class="overlay">
        <li>{{translation.translate("SAE501-MATOS1")}}</li>
        <li>{{translation.translate("SAE501-MATOS2")}}</li>
        <li>{{translation.translate("SAE501-MATOS3")}}</li>
        <li>{{translation.translate("SAE501-MATOS4")}}</li>
        <li>{{translation.translate("SAE501-MATOS5")}}</li>
        <li>{{translation.translate("SAE501-MATOS6")}}</li>
        <li>{{translation.translate("SAE501-MATOS7")}}</li>
    </div>
    <p>
        {{translation.translate("SAE501-ORGA1")}}<br><br>
        {{translation.translate("SAE501-ORGA2")}}
    </p>
    <p>
        {{translation.translate("SAE501-PLANIP")}} <a target="_blank" [href]="adressage_ip">Adressage
            IP.xlsx</a>
    </p>
    <p>
        {{translation.translate("SAE501-PHASEDEP")}}<br>
       {{translation.translate("SAE501-MATACHE")}}
    </p>
    <div id="liste" class="overlay">
        <li>{{translation.translate("SAE501-TACHE1")}}</li>
        <li>{{translation.translate("SAE501-TACHE2")}}</li>
        <li>{{translation.translate("SAE501-TACHE3")}}</li>
        <li>{{translation.translate("SAE501-TACHE4")}}</li>
        <li>{{translation.translate("SAE501-TACHE5")}}</li>
        <li>{{translation.translate("SAE501-TACHE6")}}</li>

    </div>
    <p>
        {{translation.translate("SAE501-PRES-SERVICE1")}} <br><br>
        {{translation.translate("SAE501-PRES-SERVICE2")}}
    </p>
    <div id="liste" class="overlay">
        <li>{{translation.translate("SAE501-SERVICE1")}}</li>
        <li>{{translation.translate("SAE501-SERVICE2")}}</li>
        <li>{{translation.translate("SAE501-SERVICE3")}}</li>
        <li>{{translation.translate("SAE501-SERVICE4")}}</li>
        <li>{{translation.translate("SAE501-SERVICE5")}}</li>
        <li>{{translation.translate("SAE501-SERVICE6")}}</li>
        <li>{{translation.translate("SAE501-SERVICE7")}}</li>
        <li>{{translation.translate("SAE501-SERVICE8")}}</li>
        <li>{{translation.translate("SAE501-SERVICE9")}}</li>
        <li>{{translation.translate("SAE501-SERVICE10")}}</li>
        <li>{{translation.translate("SAE501-SERVICE11")}}</li>
        <li>{{translation.translate("SAE501-SERVICE12")}}</li>
        <li>{{translation.translate("SAE501-SERVICE13")}}</li>
        <li>{{translation.translate("SAE501-SERVICE14")}}</li>
        <li>{{translation.translate("SAE501-SERVICE15")}}</li>
        <li>{{translation.translate("SAE501-SERVICE16")}}</li>
        <li>{{translation.translate("SAE501-SERVICE17")}}</li>
    </div>
    <p>{{translation.translate("SAE501-PARTRESEAU")}}
    </p>
    <div id="liste" class="overlay">
        <li>EtherChannel</li>
        <li>HSRP</li>
        <li>VTP</li>
        <li>STP</li>
    </div>
    <p> {{translation.translate("SAE501-PROT-ROUTAGE")}} </p>
    <div id="liste" class="overlay">
        <li>OSPF</li>
        <li>BGP</li>
        <li>VRF</li>
        <li>HSRP</li>
        <li>NAT/PAT</li>
        <li>EEM (Embedded Event Manager)</li>
    </div>
    <p>{{translation.translate("SAE501-DESCR-VRF")}} <br><br>
       {{translation.translate("SAE501-DESCR-VRF2")}}</p>
    <div id="liste" class="overlay">
        <li>{{translation.translate("SAE501-ACT-SCRIPT1")}}</li>
        <li>{{translation.translate("SAE501-ACT-SCRIPT2")}} </li>
        <li>{{translation.translate("SAE501-ACT-SCRIPT3")}} </li>
    </div>
    <p>{{translation.translate("SAE501-EEM")}} </p>
    <div id="liste" class="overlay">
        <li>{{translation.translate("SAE501-EEM-DESCR")}}</li>
    </div>
    <p>{{translation.translate("SAE501-LIEN-SCRIPT-EEM")}}<a target="_blank" [href]="lienscript">script_on_CORESW1.txt</a>.
      {{translation.translate("SAE501-PRBLM-SCRIPT1")}} <br><br>
        {{translation.translate("SAE501-PRBLM-SCRIPT2")}}
        <br><br>
        {{translation.translate("SAE501-SCRIPT-PWS-TITRE")}}<br><br>
        <li>{{translation.translate("SAE501-PWS1")}}</li>
        <li>{{translation.translate("SAE501-PWS2")}}</li>
        <br>
        {{translation.translate("SAE501-ORGA-SCRIPTGROUP")}}<a
            target="_blank" [href]="liensquelette">{{translation.translate("SAE501-LIEN-SCRIPT")}}</a> et <a target="_blank"
            [href]="lienscriptpws">adduserou.ps1</a>.
    </p>
    <h4>{{translation.translate("SAE501-TITRE-PRBLM")}}</h4>
    <p>{{translation.translate("SAE501-PRBLM1")}} <br><br>
      {{translation.translate("SAE501-PRBLM2")}}<br><br>
       {{translation.translate("SAE501-PRBLM3")}} </p>
    <h4>{{translation.translate("SAE501-TITRE-RETEX")}}</h4> <br>
    <div class="overlay">
        <li>{{translation.translate("SAE501-RETEX1")}}</li>
        <br>
        <li>{{translation.translate("SAE501-RETEX2")}} </li> <br>
        <li>{{translation.translate("SAE501-RETEX3")}}</li> <br>
        <li>{{translation.translate("SAE501-RETEX4")}}<br>
        <li>{{translation.translate("SAE501-RETEX5")}}</li> <br>
        <li>{{translation.translate("SAE501-RETEX6")}}</li>
    </div>
    <p>{{translation.translate("SAE501-LIEN-GITHUB")}} <a target="_blank" [href]="cr_sae_501">cr_sae_501.pdf</a>
    </p>
</div>
<!-- </div> -->
<div class="overlay-image-agrandie" *ngIf="isImageEnlarged" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="physicalscheme_simplified">
</div>

<div class="overlay-image-agrandie" *ngIf="isImageEnlarged1" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="physicalscheme_detailled">
</div>
<div class="overlay-image-agrandie" *ngIf="isImageEnlarged2" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="l3scheme">
</div>
<div class="overlay-image-agrandie" *ngIf="isImageEnlarged3" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="l2scheme">
</div>
<div class="overlay-image-agrandie" *ngIf="isImageEnlarged4" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="routingscheme">
</div>
<div class="overlay-image-agrandie" *ngIf="isImageEnlarged5" (click)="closeEnlargedImage()">
    <img class="image-elargie" [src]="dnsscheme">
</div>