<div class="position-texte">
    <div class="texte">
        <p class="overlay1">{{translation.translate("SAE302-PRESENTATION")}}
        </p>

        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE302-OBJECTIF")}} </li>
        </div>
        <p class="overlay1">{{translation.translate("SAE302-DEF-FONCT")}}

        </p>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE302-FONCT1")}}</li>
            <li>{{translation.translate("SAE302-FONCT2")}}</li>
            <li>{{translation.translate("SAE302-FONCT3")}}</li>
            <li>{{translation.translate("SAE302-FONCT4")}}</li>
        </div>
        <p class="overlay1">{{translation.translate("SAE302-CONTRAINTE")}}</p>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE302-CONT1")}}</li>
            <li>{{translation.translate("SAE302-CONT2")}}</li>
            <li>{{translation.translate("SAE302-CONT3")}}</li>
        </div>
        <p class="overlay1"> {{translation.translate("SAE302-TACHE")}} </p>

        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE302-TACHE1")}}</li>
            <li>{{translation.translate("SAE302-TACHE2")}}</li>
            <li>{{translation.translate("SAE302-TACHE3")}}</li>


        </div>
        <p class="overlay1"> {{translation.translate("SAE302-MATACHE")}}</p>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE302-RAISON1")}}</li>
            <li>{{translation.translate("SAE302-RAISON2")}}</li>
        </div>
        <p class="overlay1">{{translation.translate("SAE302-ARCHI")}} </p>
        <img class="archi" [src]="archi"> <br><br>

      {{translation.translate("SAE302-VIDEO")}} <br><br><br>

        <video class="video_sae_302" controls>
            <source [src]="video_sae_302" type="video/mp4" />
            Your browser does not support the video tag
        </video>

        <br><br><br>
        <div style="text-align: center; font-weight: bold;">{{translation.translate("SAE302-TITRE-RETEX")}}</div> <br>

        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE302-RETEX1")}}</li>
            <li>{{translation.translate("SAE302-RETEX2")}}</li>
            <li>{{translation.translate("SAE302-RETEX3")}}</li>
            <li>{{translation.translate("SAE302-RETEX4")}} </li>
            <li>{{translation.translate("SAE302-RETEX5")}}</li>
        </div>
        <p class="overlay1">{{translation.translate("SAE302-LIEN-GITHUB")}} <a target="_blank" [href]="cr_sae_302">cr_sae_302.pdf</a>
        </p>
    </div>
</div>