.header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 6vh;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    height: 2vh;
    z-index: 100;
}

.nom {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: larger;

    & p {
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;

    }
}

.lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    &>* {
        font-size: large;
        padding-left: 10px;
        padding-right: 100px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.reseaux {
    display: flex;
}

.logo_reseau {
    object-fit: contain;
    object-position: center;
    width: 35px;
    height: 35px;
    margin: 0;
}

.profil2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

img {
    width: 100%;
    border-radius: 50%;
}

.profil {
    /* border-radius:50%; */
    width: 70px;
    height: 70px;

    &>img {
        border: 2px solid black;
    }
}

.texteprofil {
    text-align: center;
    margin-top: 3vh;
}