<div class="position-texte">
    <div class="texte">
        <p class="overlay1">{{translation.translate("SAE401-PRESENTATION")}}
        </p>

        <img class="archisae401" [src]="archisae401" (click)="enlargeImage()">

        <p class="overlay1">{{translation.translate("SAE401-PRES-TACHE")}}</p>

        <div id="liste" class="overlay1">
            <ol>
                <li>{{translation.translate("SAE401-TACHE1")}} </li>
                <li>{{translation.translate("SAE401-TACHE2")}}</li>
                <li>{{translation.translate("SAE401-TACHE3")}}</li>
                <li>{{translation.translate("SAE401-TACHE4")}}</li>
                <li>{{translation.translate("SAE401-TACHE5")}}</li>
                <li>{{translation.translate("SAE401-TACHE6")}}</li>
                <li>{{translation.translate("SAE401-TACHE7")}}</li>
                <li>{{translation.translate("SAE401-TACHE8")}}</li>
                <li>{{translation.translate("SAE401-TACHE9")}}</li>
                <li>{{translation.translate("SAE401-TACHE10")}}</li>
                <li>{{translation.translate("SAE401-TACHE11")}}</li>
                <li>{{translation.translate("SAE401-TACHE12")}}</li>
                <li>{{translation.translate("SAE401-TACHE13")}}</li>
            </ol>

        </div>

        <p class="overlay1">{{this.translation.translate("SAE401-ORGA")}} </p>

        <div style="text-align: center; font-weight: bold;">{{translation.translate("SAE401-TITRE-TACHE2")}} </div> <br>

        <p class="overlay1">{{translation.translate("SAE401-OBJ1-TACHE2")}} <br> {{translation.translate("SAE401-OBJ2-TACHE2")}}
        </p>

        <p class="overlay1">{{translation.translate("SAE401-LIEN-TACHE2")}}<a target="_blank" [href]="cr_sae401_tache_2">cr_sae401_tache_2.pdf</a>
        </p>

        <div style="text-align: center; font-weight: bold;"> {{translation.translate("SAE401-TACHE4-TITRE")}}</div> <br>

        <p class="overlay1">{{translation.translate("SAE401-OBJ1-TACHE4")}}
        </p>
        <p class="overlay1">{{translation.translate("SAE401-LIEN-TACHE4")}} <a target="_blank" [href]="cr_sae401_tache_4">cr_sae401_tache_4.pdf</a>
        </p>

        <div style="text-align: center; font-weight: bold;"> {{translation.translate("SAE401-TITRE-TACHE7")}}</div>
        <br>

        <p class="overlay1">{{translation.translate("SAE401-OBJ1-TACHE7")}}
        </p>

        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE401-TACHE7-SCAN1")}}</li>
            <li>{{translation.translate("SAE401-TACHE7-SCAN2")}}</li>
            <li>{{translation.translate("SAE401-TACHE7-SCAN3")}}</li>
            <li>{{translation.translate("SAE401-TACHE7-SCAN4")}}</li>

        </div>

        <p class="overlay1">{{translation.translate("SAE401-TACHE7-COMPARER")}} </p>

        <p class="overlay1">{{translation.translate("SAE401-TACHE7-LIEN")}}<a target="_blank" [href]="cr_sae401_tache_7">cr_sae401_tache_7.pdf</a>
        </p>

        <div style="text-align: center; font-weight: bold;">{{translation.translate("SAE401-TITRE-RETEX")}}</div> <br>
        <div id="liste" class="overlay1">
            <li>{{translation.translate("SAE401-RETEX1")}} </li>
            <li>{{translation.translate("SAE401-RETEX2")}} </li>
            <li>{{translation.translate("SAE401-RETEX3")}} </li>
            <li>{{translation.translate("SAE401-RETEX4")}} </li>

        </div>

    </div>
</div>

<div class="enlarged-image-overlay" *ngIf="isImageEnlarged" (click)="closeEnlargedImage()">
    <img class="enlarged-image" [src]="archisae401">
</div>