<div>
    <app-video class="main" [bgImgUrl]="bgImgUrl" titre="Bienvenue dans mon portfolio"
        lienFleche="./accueil#presentation"></app-video>

    <div class="container">
        <!-- <div class="titre" id="presentation">
            <p>Qui suis-je ?</p>
        </div> -->
        <h2 id="presentation">Qui suis-je ?</h2>

        <div>
            <div class="photo" [style.background-image]="makeImgUrl(profil)"></div>
            <div class="texte">
                <p>Etienne, 20 ans, étudiant en troisième année de B.U.T Réseaux et Télécommunications, option
                    Cybersécurité, àl'Université de Franche-Comté à Montbéliard. <br> <br>
                    J'effectue cette dernière année de formation en alternance et je suis accueilli par le <a
                        target="_blank" href="https://www.ain.fr" style="color: blue;"> Conseil Départemental de l'Ain
                    </a>
                    <!-- <div class="tooltip bottom">
                    <a target="_blank" href="https://www.ain.fr" style="color: blue;"> Conseil Départemental de l'Ain
                    </a>
                    <span class="tooltiptext">
                        <img [src]="bgImgUrl8" alt="Ici c'est l'Ain !" style="width: 250px; height: auto;">
                    </span>
                </div> -->
                    à Bourg-en-Bresse au sein de la Direction de la
                    Transition et des Solutions Numériques (DTSN).
                </p>
                <h3>Mon Parcours</h3>
                <p>J’ai obtenu le diplôme du Baccalauréat série Générale en 2022 avec la mention ASSEZ BIEN avec pour
                    enseignements
                    de spécialités les
                    Mathématiques et la Physique-Chimie. J’ai également obtenu la mention section européenne (anglais).

                </p>

                <h3>Mes expériences professionnelles</h3>
                <p>J’ai effectué deux vacations au sein de la Direction Départementale des Finances Publiques à
                    Bourg-en-Bresse.
                    :<br><br>
                    <li> Juillet 2022 : Trésorerie Publique Hospitalière</li>
                    <li style="text-align: left;"> Juillet 2023 : Service de la Publicité Foncière et de
                        l'Enregistrement
                    </li>
                    <li>Juillet 2024 : J'ai travaillé en intérim en tant que ripeur</li>
                    <br>
                    J’ai également effectué un stage de 8 semaines au sein du Bureau Interministériel des Systèmes
                    d’Information
                    et
                    de
                    Communication de la
                    Préfecture de l’Ain au printemps 2024 dans le cadre de ma deuxième année de BUT Réseaux et
                    Télécommunications.
                </p>


                <h3>Mon projet professionnel</h3>
                <p>
                    Après l’obtention du B.U.T Réseaux et Télécommunications, je souhaite continuer de me former en
                    alternance
                    dans une école d’ingénieur. J'aimerais ensuite travailler en tant qu’ingénieur systèmes et réseaux.
                </p>
                <br>
                <h3>Mes qualités</h3>

                <p>
                    <li>Autonome</li>
                    <li>Motivé</li>
                    <li>Fiable</li>
                    <li>Curieux</li>
                    <li>Serviable</li>
                    <li>Persévérant</li>
                </p><br>
                <div>
                    <h3>Mes passions</h3>
                    <div class="grille-passions">
                        <div class="image-passion" [style.background-image]="makeImgUrl(bgImgUrl3)"></div>
                        <p>La guitare</p>
                        <div></div>
                        <div></div>
                        <p>Le Métal/Rock</p>
                        <div class="image-passion" [style.background-image]="makeImgUrl(bgImgUrl4)"></div>
                        <div class="image-passion" [style.background-image]="makeImgUrl(bgImgUrl5)"></div>
                        <p>Le tennis</p>
                        <div></div>
                        <div></div>
                        <p>Les jeux vidéos</p>
                        <div class="image-passion" [style.background-image]="makeImgUrl(bgImgUrl6)"></div>
                        <div class="image-passion" [style.background-image]="makeImgUrl(bgImgUrl9)"></div>
                        <p>Les échecs</p>
                        <div></div>
                        <div></div>
                        <p>Le vélo</p>
                        <div class="image-passion" [style.background-image]="makeImgUrl(bgImgUrl10)"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="positionboutoncv">
            <button class="bouton1" id="admin" (click)="opencv()">
                <span class="textdownload">Téléchargez mon CV</span>
                <img class="download" [src]="download" alt="Icône de téléchargement">
            </button>
        </div>

        <div>
            <h2>Il m'a recommandé</h2>

            <div class="button-container">
                <div class="positionboutongauche">
                    <button class="bouton" id="admin" (click)="openpopup()">
                        <img class="imagegauche" [src]="logojulien">
                        <div class="textgauche">
                            Julien Vadam
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="overlay1" *ngIf="show" (click)="closeoverlay($event)">
            <div class="popup-content">
                <div class="close-popup" (click)="closepopup()">&times;</div>
                <div class="profil">
                    <a target="_blank" [href]="linkedinjulien">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <img class="imagegauche1" [src]="logojulien" alt="Profile Picture of Julien Vadam">
                            <h5>Julien Vadam</h5>
                        </div>
                        <div class="textgauche1">
                            <p>Étudiant de troisième année en BUT Réseaux et Télécommunications en parcours
                                Cybersécurité à
                                l'IUT Nord
                                Franche-Comté de Montbéliard</p>
                        </div>
                    </a>
                </div>
                <div class="recommendation-text">
                    <p>
                        "Depuis trois ans maintenant, j'ai la chance de travailler avec Etienne en classe, mais aussi
                        lors
                        de
                        projets conséquents que nous avons réalisés ensemble.
                        Etienne est une personne compétente et sérieuse dans son travail, il est toujours pleinement
                        impliqué
                        dans ce qu'il fait et toujours soucieux de faire de son mieux.
                        Depuis que je le connais il n'a jamais cessé de produire du travail conséquent et toujours de
                        bonne
                        qualité.
                        De plus, il aime aider les autres et leur expliquer les choses qu'ils ne comprennent pas ne lui
                        a
                        jamais
                        fait peur.
                        En bref, Etienne est une personne qualifiée techniquement, mais aussi humainement, cela a
                        toujours
                        été
                        un plaisir de travailler avec lui."
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>