.main {
    width: 90vw;
    height: 90dvh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main>h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-size: 4em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



.photo {
    width: 35vw;
    height: 80vh;
    margin-left: 6vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    float: left;
}

.texte {
    float: right;
    background: white;
    width: 42vw;
    height: 83vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow: scroll;
    overflow-x: hidden;
    text-align: justify;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-top: 35px;
    /* text-indent: 5%; */

}

.titre {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.soustitre {
    text-align: center;
    font-size: large;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
}

li {
    text-indent: 10%;
}

.guitar {
    float: left;
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.guitartext {
    float: center;
    margin-top: 80px;
}

.metal {
    float: right;
    margin-top: 5%;
    /* margin-right: ; */
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* margin-left: 0; */

}

.metaltext {
    margin-left: 205px;
    float: center;
    margin-top: 110px;
}

.tennis {
    float: left;
    width: 29%;
    height: 29%;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.tennistext {
    float: center;
    margin-top: 100px;
    margin-left: 205px;

}

.gaming {
    float: right;
    margin-top: 5%;
    /* margin-right: ; */
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* margin-left: 0; */

}

.gamingtext {
    margin-left: 205px;
    float: center;
    margin-top: 110px;
}

.chess {
    float: left;
    width: 29%;
    height: 29%;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.chesstext {
    float: center;
    margin-top: 100px;
    margin-left: 205px;

}

.bike {
    float: right;
    margin-top: 5%;
    /* margin-right: ; */
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* margin-left: 0; */

}

.biketext {
    margin-left: 205px;
    float: center;
    margin-top: 110px;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* border-bottom: 1px dotted black; */
    /* margin-right: 20px; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    /* background-color: rgba(0,0,0,0.5); */
    color: #fff;
    text-align: center;
    margin-top: 5px;
    /* border-radius: 6px; */
    /* padding: 5px; */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    top: 100%;
    left: 42%;
    transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip.bottom .tooltiptext {
    top: 100%;
    bottom: auto;
}

.citation {
    text-align: center;
    margin-bottom: 2dvh;
}


video {
    position: absolute;

    width: 90vw;
    height: 90dvh;
    object-fit: cover;
    z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 2;
    /* Assure que l'overlay est au-dessus de la vidéo */
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        color: white;
        /* Le texte est blanc */
        font-size: 4em;

        font-family: Arial, Helvetica, sans-serif;
        margin-left: 18dvw;
        margin-top: 45dvh;
        /* padding: 5px 15px; */
        text-align: center;
        /* background: rgba(0, 0, 0, 0.5);  */
    }
}

.overlay2 {
    position: absolute;
    z-index: 3;
    /* Assure que l'overlay est au-dessus de la vidéo */
    /* min-height: 100vh; */
    width: 10%;
    height: 10%;
    margin-left: 41vw;
    margin-top: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
    a {
        color: white;

        font-size: 3em;
        animation: fadeBlink 3s infinite;
        font-family: Arial, Helvetica, sans-serif;

        text-align: center;

    }
}

@keyframes fadeBlink {

    0%,
    100% {
        opacity: 1;
        /* Fully visible for the first half */
    }

    50% {
        opacity: 0;
        /* Gradually fades out in the second half */
    }


}


html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none;
    /* Cache la scrollbar */
}

/* Solution pour Firefox */
html {
    scrollbar-width: none;
    /* Cache la scrollbar dans Firefox */
}

.vide {
    width: 100%;
    height: auto;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
    /* background-color: grey; */
    margin: 0 3vw;
    margin-bottom: 60px;
}

.positionboutongauche,
.positionboutondroit {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    flex: 1;
    margin: 0 30px;
    /* Marges ajustables pour l'espacement entre les boutons */
}

.bouton {
    background-color: white;
    border: none;
    background-color: whitesmoke;
    padding-left: 0;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 25%;

    margin: 4px 4px;
    cursor: pointer;
    border-radius: 20px;
    /* text-align: right; */
}

.textgauche {
    float: right;
    margin-top: 3vw;
    margin-right: 8vh;
    color: black;
    padding-bottom: 0;
}

.bouton:hover {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
}

.imagegauche {
    float: left;
    width: 40%;
    height: 30%;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

}

/* @keyframes popup-animation {
  from {
      transform: scale(0);
  }

  to {
      transform: scale(1);
  }
}

.popup-content {
  background-color: #fff;
  padding: 2px;
  border-radius: 10px;
  width: 55%;
  height: 42%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: popup-animation 0.3s ease-out;
  overflow-y: auto;
  overflow-x: hidden;

}

.close-popup {
  position: relative;
  top: 0px;
  right: -123%;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
  scale: 1.5;
  font-size: x-large;
}

.close-popup:hover {
  color: red;
}

.imagegauche1 {
  float: left;
  width: 15%;
}

.textgauche1 {
  float: right;
  margin-top: 3vw;
  margin-right: 10vw;
}

.profil {
  display: flex;
  justify-content: center;
} */


.popup-content {
    width: 40vw;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
    transition: color 0.3s;
}

.close-popup:hover {
    color: #555;
}

.profil {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.imagegauche1 {
    width: 60px;
    height: 60px;
    border-radius: 45%;
    /* margin-right: 15px; */
    object-fit: cover;
    /* border: 2px solid #ddd; */
}

.textgauche1 h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.textgauche1 p {
    margin: 2px 0 0;
    font-size: 14px;
    color: #666;

}

.recommendation-text p {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    padding-top: 10px;
    border-top: 1px solid #eee;
    margin: 0;
    text-align: justify;
    font-style: italic;
}