<!-- <div class="main" [style.background-image]="makeImgUrl(bgImgUrl)">
    <h1>Mes projets effectués au BUT</h1>

</div> -->
<app-video class="main" [bgImgUrl]="bgImgUrl" [titre]="translation.translate('PROJETBUT-TITRE')"
    lienFleche="./projet-but#presentation"></app-video>
    
    <div id="presentation"></div>

    <h1 id="phoneusing" class="phonetitle">{{translation.translate("PROJETBUT-TITRE")}} </h1>
    <div id="phoneusing" class="phonebar"></div>




<!-- <p> Avant de présenter les projets que j'ai effectué au cours de ma scolarité au BUT Réseaux et Télécommunications, je
    vais tout d'abord
    présenter le fonctionnement de mon BUT.</p> -->
<p class="ue">{{translation.translate("PROJETBUT-PRESENTATION-UN")}}
    :</p>
<ol>
    <li>{{translation.translate("PROJETBUT-PRESENTATION-UE-UN")}}</li>
    <li>{{translation.translate("PROJETBUT-PRESENTATION-UE-DEUX")}}</li>
    <li>{{translation.translate("PROJETBUT-PRESENTATION-UE-TROIS")}}</li>
</ol>

<p class="ue">{{translation.translate("PROJETBUT-PRESENTATION-DEUX")}}</p>
<ol>
    <li>{{translation.translate("PROJETBUT-CYBERSECURITE")}}</li>
    <li>{{translation.translate("PROJETBUT-IOT")}}</li>
    <li>{{translation.translate("PROJETBUT-PILPRO")}}</li>
</ol>
<p class="ue">{{translation.translate("PROJETBUT-PRESENTATION-TROIS")}} </p>

<ol>
    <li>{{translation.translate("PROJETBUT-PRESENTATION-UE-QUATRE")}}</li>
    <li>{{translation.translate("PROJETBUT-PRESENTATION-UE-CINQ")}}</li>
</ol>


<p class="ue">{{translation.translate("PROJETBUT-PRESENTATION-QUATRE")}}
<br> <br>{{translation.translate("PROJETBUT-PRESENTATION-CINQ")}}<br><br> {{translation.translate("PROJETBUT-PRESENTATION-SIX")}}</p>
<ol>
    <li>{{translation.translate("PROJETBUT-COMPTEUR-CYBER")}}</li>
    <li>{{translation.translate("PROJETBUT-COMPTEUR-ADMIN")}}</li>
    <li>{{translation.translate("PROJETBUT-COMPTEUR-DEV")}}</li>
    <li>{{translation.translate("PROJETBUT-COMPTEUR-TELECOM")}}</li>
    <li>{{translation.translate("PROJETBUT-COMPTEUR-GP")}}</li>
</ol>

<p class="ue">{{translation.translate("PROJETBUT-CHOIX-SPE")}}</p>

<div class="bouton">
    <mat-form-field style="width: 300px;">
        <mat-label>{{translation.translate("PROJETBUT-LABEL-BACKGROUND-TEXTE")}}</mat-label>
        <mat-select #fontSize id="selection" value="professionel" [(value)]="valueSelected"><mat-option id="adminsysres"
                value="adminsysres">{{translation.translate("PROJETBUT-CHOIX-LABEL-UN")}} </mat-option>
            <mat-option id="cybersécurité" value="cyber">{{translation.translate("PROJETBUT-CHOIX-LABEL-DEUX")}} </mat-option>
            <mat-option id="devapp" value="devapp">{{translation.translate("PROJETBUT-CHOIX-LABEL-TROIS")}}</mat-option>
            <mat-option id="télécom" value="télécom">{{translation.translate("PROJETBUT-CHOIX-LABEL-QUATRE")}}</mat-option>
            <mat-option id="gp" value="gp">{{translation.translate("PROJETBUT-CHOIX-LABEL-CINQ")}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<!-- Dans chaque UE de la première année (Semestre 1 et 2), un projet devait être réalisé en lien avec son UE. J'ai pu
    effectué 10 projets
    durant la première année et 5 projets durant la deuxième année</p> -->
<!-- <p>Dans le cadre de ma scolarité durant mes deux premières année au BUT R&T, dont 1 année avec l'option cybersécurité,
    j’ai eu 15 projets, soit des
    Situations d’Aprentissage et d’Evaluation (SAE), à réaliser. </p>
<p>Il y a eu 10 SAE durant la prermière année soit 5 SAE par semestre. Il y avait 1 SAE par compétences enseignées
    chaque semestres. (présenter le fonctionnement de mon BUT, non ? faire une section au dessus).</p> -->
<!-- <div class="button-container"> -->
<!-- <div class="sae101"> -->
<div class="first-container">
    @if (valueSelected == "télécom") {
    <div class="main-container">
        <div class="container" (click)="openDialog('sae301')">
            <div class="bandeau">
                <p>{{translation.translate("PROJETBUT-TITRE-SAE301")}}</p>
                <p>{{translation.translate("PROJETBUT-DESCRIPTION-SAE301")}}</p>
            </div>
        </div>
    </div>
    }
    @if (valueSelected == "devapp") {
    <div class="main-container">
        <div matTooltip="Picture designed by Freepik" class="container1" (click)="openDialog('sae302')">
            <div class="bandeau">
                <p>{{translation.translate("PROJETBUT-TITRE-SAE302")}}</p>
                <p>{{translation.translate("PROJETBUT-DESCRIPTION-SAE302")}}</p>
            </div>
        </div>
    </div>
    }

    @if (valueSelected == "adminsysres") {
    <div class="main-container">
        <div class="container2" (click)="openDialog('sae303')">

            <div class="bandeau">
                <p>{{translation.translate("PROJETBUT-TITRE-SAE303")}}</p>
                <p>{{translation.translate("PROJETBUT-DESCRIPTION-SAE303")}}</p>
            </div>

        </div>
    </div>

    <div class="main-container">
        <div class="container4" (click)="openDialog('sae501')">
            <div class="bandeau">
                <p>{{translation.translate("PROJETBUT-TITRE-SAE501")}}</p>
                <p>{{translation.translate("PROJETBUT-DESCRIPTION-SAE501")}}</p>
            </div>
        </div>
    </div>
    }


    @if (valueSelected == "cyber") {
    <div class="main-container">
        <div class="container3" (click)="openDialog('sae401')">
            <div class="bandeau">
                <p>{{translation.translate("PROJETBUT-TITRE-SAE4-CYB-01")}}</p>
                <p>{{translation.translate("PROJETBUT-DESCRIPTION-SAE4-CYB-01")}}</p>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="container6" (click)="openDialog('sae503')">
            <div class="bandeau">
                <p>{{translation.translate("PROJETBUT-TITRE-SAE5-CYB-03")}}</p>
                <p>{{translation.translate("PROJETBUT-DESCRIPTION-SAE5-CYB-03")}}</p>
            </div>
        </div>

    </div>

    }
    @if (valueSelected == "gp") {
    <div class="main-container">
        <div class="container5" (click)="openDialog('sae502')">
            <div class="bandeau">
                <p>{{translation.translate("PROJETBUT-TITRE-SAE502")}}</p>
                <p>{{translation.translate("PROJETBUT-DESCRIPTION-SAE502")}}</p>
            </div>
        </div>
    </div>
    }
    <!-- <div class="main-container">
        <div class="container4" (click)="openDialog('sae501')">
            <div class="bandeau">
                <p>SAE501</p>
                <p>Concevoir une solution technique</p>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="container5" (click)="openDialog('sae502')">
            <div class="bandeau">
                <p>SAE502</p>
                <p>Piloter un projet informatique</p>
            </div>
        </div>
    </div> -->
</div>



