<app-video class="main" [bgImgUrl]="bgImgUrl" titre="Autres" lienFleche="./autre#presentation"></app-video>


<p id="presentation">
    Dans cette section, je vous invite à explorer divers contenus complémentaires : des tutoriels pour approfondir vos
    connaissances, un retour d'expérience sur la visite d'une école d'ingénieurs : Télécom Paris.
</p>

<div class="article-container">
    <header class="article-header">
        <h1 class="article-title">Visite de Télécom Paris le 20 décembre 2024</h1>
        <p class="article-meta">Publié le <span class="article-date">26 janvier 2025</span> | Par <span
                class="article-author">Etienne PAQUELET</span></p>
    </header>

    <div class="article-image">
        <img [src]="profil" alt="Description de l'image">
    </div>
    

    <section class="article-content">
        <p class="article-introduction">
            Le vendredi 20 décembre, la promotion des BUT3 du BUT R&T de l’IUT Nord Franche-Comté a eu l’occasion et
            l’honneur de visiter la prestigieuse école d’ingénieur Telecom Paris. Cette visite a permis de découvrir
            l'école de manière plus approfondie que ne l'avaient permis nos recherches en ligne.
        </p>

        <h3 class="article-subtitle">Rencontre avec des étudiants engagés</h3>
        <p>
            Nous avons eu l’occasion de découvrir une association de l’école : « Make A Difference ». Cette association
            est engagée en faveur de l’environnement, de la diversité et du féminisme. De nombreux évènements sont ainsi
            organisé chaque année par cette associations en cette faveur. Nous avons également eu l’occasion de
            découvrir ce que c’était une Junior-Entreprise. Telecom Etude est la Junior-Entreprise de Telecom Paris.
            Elle propose à ses clients l’expertise des étudiants de Telecom Paris.
        </p>

        <h3 class="article-subtitle">Découverte des laboratoires de recherches</h3>
        <p>
            Nous avons également eu l’opportunité de visiter les laboratoires de recherches et les différents outils mis
            a dispositions des chercheurs.
        </p>

        <h3 class="article-subtitle">Mise en lumière de certaines formations enseignées</h3>
        <p>
            Cette visite a également été l’occasion de découvrir le déroulé de la formation et des filières en lien avec
            les réseaux et télécommunications :
            <li>Grande Infrastructures Numériques</li>
            <li>Cybersécurité</li>
            <li>Réseaux mobiles et Internet des Objets (en anglais)</li>
            <li> Télécommunications : des données aux systèmes.</li>
        </p>

        <blockquote class="article-quote">
            "Une expérience immersive et enrichissante au cœur de Télécom Paris "
        </blockquote>

        <h3 class="article-subtitle">Conclusion</h3>
        <p>
            En somme, cette visite a été une expérience immersive et particulièrement enrichissante, nous permettant
            d'approfondir notre connaissance de Télécom Paris et d'envisager plus clairement les opportunités
            professionnelles qu’offre cette école de renommée internationale.
        </p>
    </section>
</div>