<app-video class="main" [bgImgUrl]="bgImgUrl" titre="Autres" lienFleche="./autre#presentation"></app-video>


<p id="presentation">
    testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttestbr <br>
    testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest <br>
    testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest <br>
    testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest <br>
    testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest <br>
    testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest <br>
    testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest
</p>